{% extends 'base.html' %}
{% load i18n %}

{% block site-title %}
<a href="https://www.bendigo.vic.gov.au">{{ config.app.name }}</a>
{% endblock %}

{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
  {% endif%}
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p id="powered-by">{% blocktrans %}Powered by{% endblocktrans %} <a href="http://crowdspot.com.au/" class="shareabouts-logo" target="_blank">CrowdSpot</a>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37876443-1']);
  _gaq.push(['_setDomainName', 'crowdspot.com.au']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDomains", ["*.bendigofreightstudy.crowdspot.com.au","*.bendigofreightstudy.crowdspotmap.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  _paq.push(['enableHeartBeatTimer']);
  (function() {
    var u="//piwik.sturm.com.au/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '23']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//piwik.sturm.com.au/piwik.php?idsite=23" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

{% endblock %}
