/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

 /* SHUT IT DOWN LEMON */
#add-place-btn-container, #new_response {
  display: none !important;
}


COLOR PALETTE...

Perth dark red #B31D2C

Dark blue   #042A5E
Medium blue #1D4578
Light blue  #A3C0DD
Pin blue    #255EE6

Darebin Gree  #76B603

CrowdSpot Red #FF1609
CrowdSpot Green #45BA00
CrowdSpot Grey (text) #585A59
*/



 /* SHUT IT DOWN LEMON */
.list-toggle-btn, .list-toggle-btn:visited, .list-toggle-btn:link input#place-priority_text {
  display: none !important;
}

.list-toggle-nav {
  display: none;
  float: right;
  width: auto;
  margin: -1.125em 5.5em 0 0.5em;
  position: relative;
  top: 50%;
  font-size: 1.15em;
}

 /* SHUT IT DOWN LEMON */
input#place-priority_text {
  display: none !important;
}

 /* SHUT IT DOWN LEMON */
div.support {
  display: none !important;
}

 /* SHUT IT DOWN LEMON */
ul.recent-points.unstyled-list {
  display: none !important;
}


input#place-reservoir {
  width: 50%;
}

input#place-bell {
  width: 50%;
}

input#place-grange {
  width: 50%;
}

input#place-route11 {
  width: 50%;
}

input#place-route86 {
  width: 50%;
}

input#place-chandler {
  width: 50%;
}

input#place-stgeorges {
  width: 50%;
}




input#place-postcode {
  width: 50%;
}

input#place-submitter_name {
  width: 50%;
}

input#place-private-submitter_email {
  width: 50%;
}

input#place-phone {
  width: 50%;
}







input#place-optional_text {
  display: none !important;
}

.place-form label[for=place-optional_text] {
  font-size: 1.25em;
  font-weight: 800
}


.drag-marker-instructions.is-visuallyhidden {
  position: relative !important;
}


div#sidebar {
  font-size: 1.25em;
  padding-left: 15px
}





/* =Base Styles
-------------------------------------------------------------- */

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  font-weight: 600;
  border: 0;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #FF1609;
  color: #fff;
}
.btn-primary:hover {
  background-color: #585A59;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
/*  background-color: #ccc;*/
/*  color: #007fbf;*/
}
.btn-secondary:hover {
/*  background-color: #007fbf;*/
/*  color: #fff;*/
}


p.btn.btn-block.btn-large.close-btn {
  display: inline-block;
  box-shadow: -0.25em 0.25em 0 rgba(0,0,0,0.1);
  font-weight: 600;
  border: 0px solid rgba(0,0,0,0.05);
  border-radius: 2.5px;
}







/* =Header
-------------------------------------------------------------- */

#site-header {
  border-top: #00586F 3px solid
}

#site-header {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0
}

.access li:hover > ul,
  .access li:hover > form > ul {
    display: block;
    background: #ccc;
    box-shadow: -0.25em 0.25em 0 rgba(0,0,0,0.1);
    border: 3px solid rgba(0,0,0,0.05);
    border-radius: 0;
    margin: -3px -60px 0 0;
    padding: 3px 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

#site-title {
  background: url('images/darebin_header1.png') no-repeat 
center;
  background-size: contain;
  width: 440px;
  text-indent: -133337px;
}

.site-name {
  font-size: 0.45em;
  float: left;
  line-height: 1.1;
  background-color: #26A0DA;
  position: relative;
  top: -0.6em;
}

.has-pages #site-title {
  margin-left: 0.25em;
}

.access {
  font-size: 1.1em;
}

/* Navigation Button */
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  float: left;
  width: .8em;
  padding: 0.125em 0;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 0.25em;
}


/* =Colophon
-------------------------------------------------------------- */

#colophon {
  box-shadow: inset 0 5px 10px rgba(85, 85, 85, 0.25);
}  

/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #ffffff;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}

.legend li {
  line-height: 26px;
}

.legend img {
  max-height: 33px;
  vertical-align: middle;
}

/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
  background: #fff;
}

/* Close Button */
a.close-btn {
  background: #fff;
}



/* =List View
-------------------------------------------------------------- */

#list-container {
  background: #eee;
}

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    background-color: #40B132;
 }
 
.list-toggle-btn:hover {
    background-color: #585A59;
    color: #fff;
  }   
  

/* =Map
-------------------------------------------------------------- */

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #3E74BF;
  color: #fff;
  text-shadow: none;
}
.drag-marker-warning {
  background-color: #FF1609;
  color: #fff;
  text-shadow: none;
}

/* =Existing Spots
-------------------------------------------------------------- */

h2 {
  font-size: 1.75em;
}


.place-value-description_more:before {
  content: "Description: ";
  font-weight: bold;
}

.place-value-frequency {
  display: none;
}

.place-value-reason {
  display: none;
}

.place-value-other_reason {
  display: none;
}

.place-value-time {
  display: none;
}

.place-value-age {
  display: none;
}

.place-value-gender {
  display: none;
}

.place-value-connection {
  display: none;
}

.place-value-postcode {
  display: none;
}

.place-value-phone {
  display: none;
}

.place-value-reservoir {
  display: none;
}

.place-value-bell {
  display: none;
}

.place-value-grange {
  display: none;
}

.place-value-route11 {
  display: none;
}

.place-value-route86 {
  display: none;
}

.place-value-chandler {
  display: none;
}

.place-value-stgeorges {
  display: none;
}



/* =Hiding questions in new forms
-------------------------------------------------------------- */

.place-form label[for=place-walk_issue],
  .place-form [name=walk_issue]{
  display: none;
}

.place-form.walk label[for=place-walk_issue],
  .place-form.walk [name=walk_issue] {
  display: block;
}


.place-form label[for=place-bike_issue],
  .place-form [name=bike_issue]{
  display: none;
}

.place-form.bike label[for=place-bike_issue],
  .place-form.bike [name=bike_issue] {
  display: block;
}


.place-form label[for=place-bus_issue],
  .place-form [name=bus_issue]{
  display: none;
}

.place-form.bus label[for=place-bus_issue],
  .place-form.bus [name=bus_issue] {
  display: block;
}


.place-form label[for=place-train_issue],
  .place-form [name=train_issue]{
  display: none;
}

.place-form.train label[for=place-train_issue],
  .place-form.train [name=train_issue] {
  display: block;
}


.place-form label[for=place-tram_issue],
  .place-form [name=tram_issue]{
  display: none;
}

.place-form.tram label[for=place-tram_issue],
  .place-form.tram [name=tram_issue] {
  display: block;
}


.place-form label[for=place-car_issue],
  .place-form [name=car_issue]{
  display: none;
}

.place-form.car label[for=place-car_issue],
  .place-form.car [name=car_issue] {
  display: block;
}






.place-form label[for=place-like_mode],
  .place-form [name=like_mode]{
  display: none;
}

.place-form.like label[for=place-like_mode],
  .place-form.like [name=like_mode] {
  display: block;
}

.place-form label[for=place-idea_mode],
  .place-form [name=idea_mode]{
  display: none;
}

.place-form.idea label[for=place-idea_mode],
  .place-form.idea [name=idea_mode] {
  display: block;
}


/* =newpin marker
-------------------------------------------------------------- */

#centerpoint.newpin .marker {
  display: block;
  width: 25px;
  height: 41px;
  background: transparent url(images/markers/marker-f39914.png) 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  transition: top 0.4s ease;
}



/* =Hiding (optional) in survey form
-------------------------------------------------------------- */

label small {
  text-transform: none;
  display: none;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 250px) and (max-width: 480px) {
#site-title a:link, #site-title a:visited {
  display: block;
  font-size: 1.2em;
  line-height: 1.25;
  margin-left: 0.25em;
  text-decoration: none;
  color: #646464;
  }
.has-pages #site-title {
  margin-left: -2.75em;
  }  
}
  
@media only screen and (min-height: 440px) and (max-width: 60em) {
  #map {
    height: 300px;
  }
}

@media only screen and (min-height: 568px) and (max-width: 60em) {
  #map {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 60em) {
  #map {
    height: 400px;
  }


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}