body,
select,
input,
textarea {
  color: #555;
  font-family: "Proxima Nova", "Roboto", Arial, Helvetica, sans-serif;
}
.btn,
.btn:visited,
.btn:link {
  line-height: 1;
  padding: 0.65em;
  color: #fff;
  background-color: #17206b;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4) inset;
  font-weight: 600;
  border: 0;
  -webkit-transition: box-shadow 0.5s ease, background-color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}
.btn:hover,
.btn:visited:hover,
.btn:link:hover {
  background: #464847;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3) inset;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #17206b;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4) inset;
  color: #fff;
  -webkit-transition: box-shadow 0.5s ease, background-color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4) inset;
  background-color: #17206b;
  color: #fff;
}
a,
a:active,
a:visited {
  color: #17206b;
}
#powered-by a {
  background-image: url("images/crowdspot-logo.svg");
  background-position: 0px 4px;
}
.small-intro-text {
  font-size: 13px;
}
#site-header {
  border-top: #17206b 3px solid;
  box-shadow: 0 0px 10px rgba(85,85,85,0.5);
}
#site-title {
  background: url("images/parramattercitylogo.jpg") no-repeat center;
  background-size: contain;
  background-position: left center;
  width: 320px;
}
@media only screen and (max-width: 800px) {
  #site-title {
    width: 180px;
  }
}
#pages-nav-container,
#language-picker {
  height: 100%;
  float: left;
  margin-right: 0;
  margin-left: 0;
}
@media only screen and (max-width: 60em) {
  #pages-nav-container,
  #language-picker {
    padding-top: 0.5em;
    float: none;
    clear: both;
  }
}
.access {
  font-size: 1.1em;
}
.list-view-active .access {
  display: none;
}
@media only screen and (max-width: 60em) {
  .access {
    margin: 0;
  }
  .access.is-exposed {
    float: none;
    clear: both;
  }
}
.access li {
  display: inline;
  min-width: 160px;
}
@media only screen and (max-width: 60em) {
  .access li {
    padding-bottom: 0;
    display: block;
    margin-bottom: 0.5em;
  }
}
.access li ul {
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity, visibility, -webkit-transform;
  transition: opacity, visibility, -webkit-transform;
  transition: opacity, transform, visibility;
  transition: opacity, transform, visibility, -webkit-transform;
  -webkit-transition-duration: 0.3s, 0.3s, 0s;
          transition-duration: 0.3s, 0.3s, 0s;
  -webkit-transition-delay: 0s, 0s, 0.3s;
          transition-delay: 0s, 0s, 0.3s;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
}
.access li ul li {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}
.access li:hover ul {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s;
  background: transparent;
  box-shadow: 0 5px 10px -5px rgba(85,85,85,0.5);
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -3px -60px 0 0;
  padding: 3px 0 0 0;
  z-index: 2;
  overflow: hidden;
}
.access li:hover ul li {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.access li .menu-item a:hover {
  background-color: #2837b9;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3) inset;
  background: #464847;
}
.access li .menu-item a:focus {
  outline: none;
}
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  float: left;
  width: 0.8em;
  padding: 8px 7px;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 8px;
}
@media only screen and (max-width: 1050px) {
  .access li:last-child {
    display: none;
  }
}
.list-toggle-nav {
  margin-right: 0.5em;
}
.spot-type-title {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  color: #434343;
  background-color: #eaeaeb;
  background-image: url("images/background-texture.png");
  background-size: 117px 117px;
  box-shadow: 0px 0px 5px rgba(85,85,85,0.5);
}
.legend {
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-top: 0;
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 15%;
  border-bottom: none;
  box-shadow: 0px 5px 5px -5px rgba(85,85,85,0.5);
  margin-left: -5px;
  margin-right: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: not-allowed;
}
.legend li {
  line-height: 26px;
  margin-bottom: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.legend .image-wrapper {
  background-image: url("images/legend-pin-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #dfdfdf;
  box-shadow: 0px 5px 5px -5px rgba(85,85,85,0.5);
  min-height: 45px;
  min-width: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.5em;
}
.legend .image-wrapper img {
  max-height: 26px;
  vertical-align: middle;
}
.recent-points {
  border-bottom: none;
  background-color: #fff;
}
.recent-points a {
  color: #585a59;
  text-decoration: none;
  float: left;
  border-top: none;
  border-bottom: none;
  padding: 0.8em 1.5em 0.6em;
  width: calc(100% + 10px);
  box-sizing: border-box;
  margin-left: -5px;
  margin-right: -5px;
  box-shadow: 0px 5px 5px -5px rgba(85,85,85,0.5);
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  transition: background-color 0.5s ease, color 0.5s ease;
}
#colophon {
  box-shadow: inset 0 5px 10px -5px rgba(85,85,85,0.5);
}
#ticker {
  background: #eaeaeb;
  background-image: url("images/background-texture.png");
  background-size: 117px 117px;
  box-shadow: 0px 0 10px rgba(85,85,85,0.5);
}
@media only screen and (min-width: 60em) {
  #content {
    box-shadow: none;
  }
  #content > article {
    background: #fff;
    box-shadow: 0 0 20px rgba(34,34,34,0.5);
    position: relative;
    left: 0;
  }
}
a.close-btn {
  z-index: 1;
  color: #222;
  background: #fff;
  box-shadow: none;
  right: 100%;
  margin-right: 0px;
  -webkit-transition: 0.5s background ease, 0.5s color ease, 0.5s box-shadow ease;
  transition: 0.5s background ease, 0.5s color ease, 0.5s box-shadow ease;
  box-shadow: -6px 0 8px 0 rgba(34,34,34,0.2);
}
@media only screen and (max-width: 60em) {
  a.close-btn {
    width: 60px;
    box-shadow: 0px -4px 8px -4px rgba(34,34,34,0.2);
  }
}
a.close-btn:hover {
  background: #fff;
  box-shadow: 0px 0 0px 0 rgba(34,34,34,0.2);
}
a.leaflet-control-layers-toggle,
.leaflet-retina a.leaflet-control-layers-toggle {
  background-image: none;
  background-size: inherit;
  width: 96px;
  height: 30px;
  text-decoration: none;
}
a.leaflet-control-layers-toggle:before,
.leaflet-retina a.leaflet-control-layers-toggle:before {
  content: "Layers";
  display: block;
  color: #222;
  font-weight: bold;
  padding: 6px 10px 0 10px;
}
#list-container {
  background: #eee;
}
.list-toggle-btn:hover {
  background-color: #575958;
  color: #fff;
}
.goog-te-gadget:last-child {
  display: none;
}
.goog-te-gadget .goog-te-combo:last-child {
  display: none;
}
#centerpoint.newpin .marker {
  display: block;
  width: 29px;
  height: 42px;
  background: transparent url("images/spot-add.svg") 0 0 no-repeat scroll;
  position: relative;
  top: 2px;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
#centerpoint.newpin .x {
  background: transparent url("images/x.svg") 0 0 no-repeat scroll;
  width: 20px;
  height: 15px;
}
#centerpoint.newpin .shadow {
  background: transparent url("images/master-pin-shadow.svg") -29px 2px no-repeat scroll;
  width: 100px;
}
#centerpoint.newpin.dragging .shadow {
  background: transparent url("images/master-pin-shadow.svg") -20px -2px no-repeat scroll;
}
@media only screen and (min-width: 60em) {
  #add-place-btn-container {
    bottom: 1.5em;
  }
}
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #17206b;
  color: #fff;
  text-shadow: none;
}
.place-header h3 {
  line-height: 1;
  margin-bottom: 0;
}
.spot-name-and-type {
  margin-bottom: 1em;
}
.place-value-safety_rating:before {
  content: "Safety rating: ";
  font-weight: bold;
}
.place-value-description:before {
  content: "Description: ";
  font-weight: bold;
}
.place-value-rider_type:before {
  content: "Rider type: ";
  font-weight: bold;
}
#place-safety_rating {
  display: none;
}
#fields-safety_rating {
  display: none;
}
.required-field-label {
  color: #d13f19;
}
.place-form label[for=place-location_bikeissue],
.place-form [name=location_bikeissue] {
  display: none;
}
.place-form.bikeissuespot label[for=place-location_bikeissue],
.place-form.bikeissuespot [name=location_bikeissue] {
  display: block;
}
label small {
  text-transform: none;
  display: none;
}
.region-title {
  display: block;
  margin-bottom: 0.5em;
}
.large-screen-columns {
  margin-bottom: 1em;
  padding-bottom: 1em;
  box-shadow: 0px 5px 5px -5px rgba(85,85,85,0.5);
}
@media only screen and (min-width: 600px) {
  .large-screen-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.large-screen-columns a {
  display: block;
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 600px) {
  .large-screen-columns a {
    width: 50%;
  }
}
.response-value-private-submitter_email_comment {
  display: none;
}
.place-items .place-item {
  display: none;
}
.place-items .place-item.place-item-description,
.place-items .place-item.place-item-location_train_trouble,
.place-items .place-item.place-item-location_tram_trouble,
.place-items .place-item.place-item-location_bus_trouble {
  display: block;
}
input:focus,
textarea:focus {
  outline: none;
}
.promotion {
  float: right;
  min-width: 150px;
  margin-left: 0;
}
.place-list .promotion {
  float: right;
}
.user-support {
  background-image: none;
  cursor: pointer;
}
.user-support .support-count {
  margin-right: 0.5em;
}
.user-support label {
  color: #fff;
  background-image: none;
  padding: 1em;
  margin-right: 0;
  text-align: center;
  background-color: #17206b;
  font-weight: 600;
  -webkit-transition: box-shadow 0.5s ease, color 0.5s ease, background-color 0.5s ease, opacity 0.5s ease;
  transition: box-shadow 0.5s ease, color 0.5s ease, background-color 0.5s ease, opacity 0.5s ease;
  cursor: pointer;
  border-radius: 2.5px;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4) inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.user-support label:after {
  content: "";
  margin-left: 0.5em;
  width: 18px;
  height: 18px;
  background-image: url("images/heart-empty.svg");
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.user-support:hover label {
  background-color: #464847;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3) inset;
}
.user-support:hover label:after {
  opacity: 1;
}
.user-support input[type=checkbox]:checked ~ label {
  background-color: #dfdfdf;
  background-image: none;
  color: #222;
}
.user-support input[type=checkbox]:checked ~ label:hover {
  background-color: #c0c0c0;
}
.user-support input[type=checkbox]:checked ~ label:after {
  background-image: url("images/heart.svg");
  opacity: 1;
}
.social {
  border-radius: 2.5px;
  overflow: hidden;
}
.sharing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.share-link {
  float: none;
  margin-left: 0;
  width: 50%;
}
.share-link a {
  width: 100%;
  -webkit-transition: box-shadow 0.5s ease, background 0.5s ease;
  transition: box-shadow 0.5s ease, background 0.5s ease;
}
.share-link a:hover {
  box-shadow: 0px 1px 4px 0px rgba(34,34,34,0.3) inset;
}
.share-facebook a {
  background: #385184 url("images/facebook-share.svg") center center no-repeat;
}
.share-facebook a:hover {
  background-color: #4b6db1;
}
.share-twitter a {
  background: #1da1f2 url("images/twitter-share.svg") center center no-repeat;
}
.share-twitter a:hover {
  background-color: #4ab4f5;
}
#geocode-address-bar {
  padding: 0.5em;
}
@media only screen and (max-width: 60em) {
  #geocode-address-bar {
    margin-top: 0;
  }
}
#geocode-address-bar .error {
  background-color: #f11717;
  box-shadow: 2px 2px 0 #f11717, 2px -2px 0 #f11717, -2px 2px 0 #f11717, -2px -2px 0 #f11717;
}
#geocode-address-bar .error+ form {
  box-shadow: 2px 2px 0 #f11717, 2px -2px 0 #f11717, -2px 2px 0 #f11717, -2px -2px 0 #f11717;
}
@media only screen and (min-width: 60em) {
  .geocoding-enabled #map-container {
    top: 8.2em;
  }
  .geocoding-enabled #content {
    top: 8.2em;
  }
}
.geocode-address-label:before {
  border: 1px solid #fff;
  border-width: 0.2em;
}
.geocode-address-label:after {
  background-color: #fff;
}
.geocode-spinner {
  padding: 0 0.5em;
}

/*# sourceMappingURL=custom.css.map */
