.drag-marker-instructions,
.drag-marker-warning
	background-color primary-color
	color #fff
	text-shadow none

.place-header
	h3
		line-height 1
		margin-bottom 0

.spot-name-and-type
	margin-bottom 1em

.place-value-description
	&:before
		content "Description: "
		font-weight bold

.required-field-label
	color red

.place-form label[for=place-location_bikeissue],
.place-form [name=location_bikeissue]
	display none

.place-form.bikeissuespot label[for=place-location_bikeissue],
.place-form.bikeissuespot [name=location_bikeissue]
	display block

.place-form label[for=place-private-submitter_email],
.place-form [name=private-submitter_email]
	display none

.place-form.location_updates-yesplease label[for=place-private-submitter_email],
.place-form.location_updates-yesplease [name=private-submitter_email]
	display block


label
	small
		text-transform none
		display none

.region-title
	display block
	margin-bottom 0.5em

.large-screen-columns
	margin-bottom 1em
	padding-bottom 1em
	box-shadow 0px 5px 5px -5px rgba(85, 85, 85, 0.5)

	+above('m')
		display flex
		flex-wrap wrap

	a
		display block
		margin-bottom 0.5em

		+above('m')
			width 50%

.response-value-private-submitter_email_comment
	display none

.place-items
	.place-item
		display none

		&.place-item-description, &.place-item-location_bikeissue
			display block
