/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

 /* SHUT IT DOWN LEMON */
#new_response, #survey {
  display: none !important;
}

/* SHUT IT DOWN LEMON */
div.support {
 display: none !important;
}

span.survey-count {
 display: none !important;
}

div.social {
 display: none !important;
}

/*img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-clickable {
 display: none !important;
}

img.leaflet-marker-shadow.leaflet-zoom-animated {
 display: none !important;
}*/




COLOR PALETTE...

browny #B0291B
yellow #FCC94E


CrowdSpot Red #FF1609
CrowdSpot Green #2BAB6E
CrowdSpot Grey (text) #585A59
*/


/* =Base Styles
-------------------------------------------------------------- */

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  font-weight: 600;
  border: 0;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #2BAB6E;
  color: #fff;
}
.btn-primary:hover {
  background-color: #575958;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #2BAB6E;
  color: white;
}
.btn-secondary:hover {
  background-color: #575958;
  color: white;
}

/* Links */
a, a:active, a:visited {
  color: #f08927;
}
a:hover {
  color: #C8C8C8;
}
a:hover, a:active {
  outline: none;
}


/* =Header
-------------------------------------------------------------- */

#site-header {
  border-top: #B0291B 3px solid;
  border-top: none;
  border-bottom: none;
  padding: 0 0.5em;
  background: #B7D141 url('images/logo-bendigo-header-background.svg') repeat-x;
  background-position: -8px top;
  background-size: auto 5em;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5)
}

.access li:hover > ul,
  .access li:hover > form > ul {
    display: block;
    background: #ccc;
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin: -3px -60px 0 0;
    padding: 3px 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

#site-title {
  background: url('images/logo-bendigo-main.svg') no-repeat bottom right;
  background-size: auto 100%;
  width: 335px;
  height: 5em;
  text-indent: -133337px;
}

.site-name {
  font-size: 0.45em;
  float: left;
  line-height: 1.1;
  background-color: #26A0DA;
  position: relative;
  top: -0.6em;
}

.has-pages #site-title {
  margin-left: -0.75em;
}

.access {
  font-size: 1.1em;
}

.bendigo-header-logo-small {
  width: 100px;
  height: 25px;
  background: url('images/logo-bendigo-small.svg') no-repeat;
  background-size: contain;
  position: absolute;
  right: 3em;
  top: 2.5em;
}





/* Navigation Button */
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  float: left;
  width: .8em;
  padding: 0.125em 0;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 0.25em;
}

/* =Colophon
-------------------------------------------------------------- */

#colophon {
  box-shadow: inset 0 5px 10px rgba(85, 85, 85, 0.25);
}

/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #ffffff;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}

.recent-points a {
    color: #585A59;
    text-decoration: none;
    float: left;
    border-top: 1px solid #888;
    border-bottom: 1px solid #666;
    padding: 0.5em 0.5em 0.5em 0.75em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
  background: #fff;
}

/* Close Button */
a.close-btn {
  background: #fff;
}



/* =List View
-------------------------------------------------------------- */

#list-container {
  background: #eee;
}

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    background-color: #2BAB6E;
 }

.list-toggle-btn:hover {
    background-color: #585A59;
    color: #fff;
  }


/* =Map
-------------------------------------------------------------- */

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #2BAB6E;
  color: #fff;
  text-shadow: none;
  padding: 2em 2em 3em;
  margin-bottom: 2em;
  font-size: 1.5em;
}
.drag-marker-warning {
  background-color: #FF1609;
  color: #fff;
  text-shadow: none;
}

/* =newpin marker
-------------------------------------------------------------- */

#centerpoint.newpin .marker {
  display: block;
  width: 55px;
  height: 80px;
  background: transparent url(images/spot-add.svg) center bottom no-repeat scroll;
  background-size: contain;
  position: relative;
  top: -38px;
  left: -16px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  transition: top 0.4s ease;
}

#centerpoint.newpin.dragging .marker {
  top: -50px;
}

#centerpoint.newpin .x {
  background: transparent url(images/x.svg) 0 0 no-repeat scroll;
  width 20px;
  height 15px;
}
#centerpoint.newpin .shadow {
  background:  transparent url(images/master-pin-shadow.svg) -29px 2px no-repeat scroll;
  width: 100px;
  left: -2px;
  top: -2px;
}
#centerpoint.newpin.dragging .shadow {
  background: transparent url(images/master-pin-shadow.svg) -20px -2px no-repeat scroll;
}

/* =legend
-------------------------------------------------------------- */
.legend li {
  line-height: 26px;
}

.legend img {
  max-height: 33px;
  vertical-align: middle;
}


/* =Existing Spots
-------------------------------------------------------------- */

small {
  text-transform: none;
  display: none;
}

#place-opportunities_heading {
  display: none;
}

#place-received_dispatched_heading {
  display: none;
}

#place-movement_heading {
  display: none;
}

#place-fleet_heading {
  display: none;
}

#place-fleetissues_heading {
  display: none;
}

#place-waste_heading {
  display: none;
}

.place-value-business_type {
  display: none;
}

.place-value-freight_issue {
  display: none;
}

.place-value-issue_description {
  display: none;
}

.place-value-location_goods_type {
  display: none;
}

.place-value-suburb {
  display: none;
}

.place-value-location_freight_operator {
  display: none;
}

.place-value-inbound_origin {
  display: none;
}

.place-value-origin_facility_type {
  display: none;
}

.place-value-vehicle_type {
  display: none;
}

.place-value-trips_vehicle {
  display: none;
}

.place-value-location_crtical_times_receive {
  display: none;
}

.place-value-crtical_times_receive_description {
  display: none;
}

.place-value-location_crtical_times_dispatch {
  display: none;
}

.place-value-crtical_times_dispatch_description {
  display: none;
}

.place-value-goods_type_waste_other {
  display: none;
}

.place-value-goods_type_other {
  display: none;
}

.place-value-proportion_ownfleet {
  display: none;
}

.place-value-other_freight_operators {
  display: none;
}

.place-value-crtical_times_description {
  display: none;
}

.place-value-underutilisation_inbound {
  display: none;
}

.place-value-underutilisation_outbound {
  display: none;
}

.place-value-location_receivedispatch {
  display: none;
}

.place-value-waste_type {
  display: none;
}

.place-value-waste_remove_frequency {
  display: none;
}

.place-value-location_efficient_option1 {
  display: none;
}

.place-value-location_efficient_option2 {
  display: none;
}

.place-value-location_efficient_option3 {
  display: none;
}

.place-value-efficient_other {
  display: none;
}

.place-value-business_name {
  display: none;
}

.place-value-biggest_issues {
  display: none;
}

.place-value-changes_description {
  display: none;
}

.place-value-location_mode_shift {
  display: none;
}

.place-value-role {
  display: none;
}

.place-value-location_updates {
  display: none;
}

/* fix for long selects */

select {
  width: 100%;
}

/* =Hiding questions in new forms
-------------------------------------------------------------- */

.place-form label[for=place-business_type_other],
  .place-form [name=business_type_other]{
  display: none;
}

.place-form.location_business_type-other label[for=place-business_type_other],
  .place-form.location_business_type-other [name=business_type_other] {
  display: block;
}



.place-form label[for=place-location_goods_type_received],
  .place-form [name=location_goods_type_received]{
  display: none;
}

.place-form #fields-location_goods_type_received {
  display: none;
}

.place-form.location_receivedispatch-receive label[for=place-location_goods_type_received],
  .place-form.location_receivedispatch-receive [name=location_goods_type_received] {
  display: block;
}

.place-form.location_receivedispatch-receive #fields-location_goods_type_received {
  display: block;
}

.place-form label[for=place-inbound_origin],
  .place-form [name=inbound_origin]{
  display: none;
}

.place-form #fields-inbound_origin {
  display: none;
}

.place-form.location_receivedispatch-receive label[for=place-inbound_origin],
  .place-form.location_receivedispatch-receive [name=inbound_origin] {
  display: block;
}

.place-form.location_receivedispatch-receive #fields-inbound_origin {
  display: block;
}





.place-form label[for=place-location_goods_type_dispatched],
  .place-form [name=location_goods_type_dispatched]{
  display: none;
}

.place-form #fields-location_goods_type_dispatched {
  display: none;
}

.place-form.location_receivedispatch-dispatch label[for=place-location_goods_type_dispatched],
  .place-form.location_receivedispatch-dispatch [name=location_goods_type_dispatched] {
  display: block;
}

.place-form.location_receivedispatch-dispatch #fields-location_goods_type_dispatched {
  display: block;
}



.place-form label[for=place-outbound_origin],
  .place-form [name=outbound_origin]{
  display: none;
}

.place-form #fields-outbound_origin {
  display: none;
}

.place-form.location_receivedispatch-dispatch label[for=place-outbound_origin],
  .place-form.location_receivedispatch-dispatch [name=outbound_origin] {
  display: block;
}

.place-form.location_receivedispatch-dispatch #fields-outbound_origin {
  display: block;
}




.place-form.location_receivedispatch-bothreceivedispatch label[for=place-location_goods_type_received],
  .place-form.location_receivedispatch-bothreceivedispatch [name=location_goods_type_received] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch #fields-location_goods_type_received {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-inbound_origin],
  .place-form.location_receivedispatch-bothreceivedispatch [name=inbound_origin] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch #fields-inbound_origin {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-location_goods_type_dispatched],
  .place-form.location_receivedispatch-bothreceivedispatch [name=location_goods_type_dispatched] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch #fields-location_goods_type_dispatched {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-outbound_origin],
  .place-form.location_receivedispatch-bothreceivedispatch [name=outbound_origin] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch #fields-outbound_origin {
  display: block;
}




.place-form label[for=place-location_crtical_times_receive],
  .place-form [name=location_crtical_times_receive]{
  display: none;
}

.place-form label[for=place-crtical_times_receive_description],
  .place-form [name=crtical_times_receive_description]{
  display: none;
}

.place-form #fields-crtical_times_receive_description {
  display: none;
}

.place-form.location_receivedispatch-receive label[for=place-location_crtical_times_receive],
  .place-form.location_receivedispatch-receive [name=location_crtical_times_receive] {
  display: block;
}

.place-form.location_crtical_times_receive-yess label[for=place-crtical_times_receive_description],
  .place-form.location_crtical_times_receive-yess [name=crtical_times_receive_description] {
  display: block;
}

.place-form.location_crtical_times_receive-yess #fields-crtical_times_receive_description {
  display: block;
}



.place-form label[for=place-location_crtical_times_dispatch],
  .place-form [name=location_crtical_times_dispatch]{
  display: none;
}

.place-form label[for=place-crtical_times_dispatch_description],
  .place-form [name=crtical_times_dispatch_description]{
  display: none;
}

.place-form #fields-crtical_times_dispatch_description {
  display: none;
}

.place-form.location_receivedispatch-dispatch label[for=place-location_crtical_times_dispatch],
  .place-form.location_receivedispatch-dispatch [name=location_crtical_times_dispatch] {
  display: block;
}

.place-form.location_crtical_times_dispatch-yess label[for=place-crtical_times_dispatch_description],
  .place-form.location_crtical_times_dispatch-yess [name=crtical_times_dispatch_description] {
  display: block;
}

.place-form.location_crtical_times_dispatch-yess #fields-crtical_times_dispatch_description {
  display: block;
}



.place-form.location_receivedispatch-bothreceivedispatch label[for=place-location_crtical_times_receive],
  .place-form.location_receivedispatch-bothreceivedispatch [name=location_crtical_times_receive] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-location_crtical_times_dispatch],
  .place-form.location_receivedispatch-bothreceivedispatch [name=location_crtical_times_dispatch] {
  display: block;
}






.place-form label[for=place-vehicles_ownfleet],
  .place-form [name=vehicles_ownfleet]{
  display: none;
}

.place-form.location_freight_operator-ownfleet label[for=place-vehicles_ownfleet],
  .place-form.location_freight_operator-ownfleet [name=vehicles_ownfleet] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-vehicles_ownfleet],
  .place-form.location_freight_operator-both_ownandother [name=vehicles_ownfleet] {
  display: block;
}




.place-form label[for=place-proportion_ownfleet],
  .place-form [name=proportion_ownfleet]{
  display: none;
}

.place-form.location_freight_operator-both_ownandother label[for=place-proportion_ownfleet],
  .place-form.location_freight_operator-both_ownandother [name=proportion_ownfleet] {
  display: block;
}



.place-form label[for=place-other_freight_operators],
  .place-form [name=other_freight_operators]{
  display: none;
}

.place-form.location_freight_operator-useotheroperators label[for=place-other_freight_operators],
  .place-form.location_freight_operator-useotheroperators [name=other_freight_operators] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-other_freight_operators],
  .place-form.location_freight_operator-both_ownandother [name=other_freight_operators] {
  display: block;
}



.place-form label[for=place-crtical_times_description],
  .place-form [name=crtical_times_description]{
  display: none;
}

.place-form.location_crtical_times-yess label[for=place-crtical_times_description],
  .place-form.location_crtical_times-yess [name=crtical_times_description] {
  display: block;
}







.place-form label[for=place-underutilisation_inbound],
  .place-form [name=underutilisation_inbound]{
  display: none;
}

.place-form label[for=place-underutilisation_inbound_origin],
  .place-form [name=underutilisation_inbound_origin]{
  display: none;
}

.place-form #fields-underutilisation_inbound_origin {
  display: none;
}

.place-form.location_freight_operator-ownfleet label[for=place-underutilisation_inbound_origin],
  .place-form.location_freight_operator-ownfleet [name=underutilisation_inbound_origin] {
  display: block;
}

.place-form.location_freight_operator-ownfleet #fields-underutilisation_inbound_origin {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-underutilisation_inbound_origin],
  .place-form.location_freight_operator-both_ownandother [name=underutilisation_inbound_origin] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother #fields-underutilisation_inbound_origin {
  display: block;
}





.place-form label[for=place-underutilisation_outbound],
  .place-form [name=underutilisation_outbound]{
  display: none;
}

.place-form label[for=place-underutilisation_inbound_destination],
  .place-form [name=underutilisation_inbound_destination]{
  display: none;
}

.place-form #fields-underutilisation_inbound_destination {
  display: none;
}


.place-form.location_freight_operator-ownfleet label[for=place-underutilisation_inbound_destination],
  .place-form.location_freight_operator-ownfleet [name=underutilisation_inbound_destination] {
  display: block;
}

.place-form.location_freight_operator-ownfleet #fields-underutilisation_inbound_destination {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-underutilisation_inbound_destination],
  .place-form.location_freight_operator-both_ownandother [name=underutilisation_inbound_destination] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother #fields-underutilisation_inbound_destination {
  display: block;
}






.place-form.location_freight_operator-both_ownandother label[for=place-underutilisation_inbound],
  .place-form.location_freight_operator-both_ownandother [name=underutilisation_inbound] {
  display: block;
}

.place-form.location_freight_operator-ownfleet label[for=place-underutilisation_inbound],
  .place-form.location_freight_operator-ownfleet [name=underutilisation_inbound] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-underutilisation_outbound],
  .place-form.location_freight_operator-both_ownandother [name=underutilisation_outbound] {
  display: block;
}

.place-form.location_freight_operator-ownfleet label[for=place-underutilisation_outbound],
  .place-form.location_freight_operator-ownfleet [name=underutilisation_outbound] {
  display: block;
}





.place-form label[for=place-fleetissues_heading],
  .place-form [name=fleetissues_heading]{
  display: none;
}

.place-form.location_freight_operator-ownfleet label[for=place-fleetissues_heading],
  .place-form.location_freight_operator-ownfleet [name=fleetissues_heading] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-fleetissues_heading],
  .place-form.location_freight_operator-both_ownandother [name=fleetissues_heading] {
  display: block;
}


.place-form label[for=place-location_issues_yes_no],
  .place-form [name=location_issues_yes_no]{
  display: none;
}

.place-form.location_freight_operator-ownfleet label[for=place-location_issues_yes_no],
  .place-form.location_freight_operator-ownfleet [name=location_issues_yes_no] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-location_issues_yes_no],
  .place-form.location_freight_operator-both_ownandother [name=location_issues_yes_no] {
  display: block;
}

.place-form label[for=place-freight_issues],
  .place-form [name=freight_issues]{
  display: none;
}

.place-form #fields-freight_issues {
  display: none;
}

.place-form.location_issues_yes_no-yess label[for=place-freight_issues],
  .place-form.location_issues_yes_no-yess [name=freight_issues] {
  display: block;
}

.place-form.location_issues_yes_no-yess #fields-freight_issues {
  display: block;
}



.place-form label[for=place-location_route_issues_yes_no],
  .place-form [name=location_route_issues_yes_no]{
  display: none;
}

.place-form.location_freight_operator-ownfleet label[for=place-location_route_issues_yes_no],
  .place-form.location_freight_operator-ownfleet [name=location_route_issues_yes_no] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-location_route_issues_yes_no],
  .place-form.location_freight_operator-both_ownandother [name=location_route_issues_yes_no] {
  display: block;
}


.place-form label[for=place-route_issues],
  .place-form [name=route_issues]{
  display: none;
}

.place-form.location_route_issues_yes_no-yess label[for=place-route_issues],
  .place-form.location_route_issues_yes_no-yess [name=route_issues] {
  display: block;
}


.place-form label[for=place-waste_remove_frequency_other],
  .place-form [name=waste_remove_frequency_other]{
  display: none;
}

.place-form.location_waste_remove_frequency-other label[for=place-waste_remove_frequency_other],
  .place-form.location_waste_remove_frequency-other [name=waste_remove_frequency_other] {
  display: block;
}










.place-form label[for=place-backloading_like],
  .place-form [name=backloading_like]{
  display: none;
}

.place-form.location_backloading-nope label[for=place-backloading_like],
  .place-form.location_backloading-nope [name=backloading_like] {
  display: block;
}





.place-form label[for=place-anythingelse],
  .place-form [name=anythingelse]{
  display: none;
}

.place-form.location_anythingelse-yess label[for=place-anythingelse],
  .place-form.location_anythingelse-yess [name=anythingelse] {
  display: block;
}







.place-form label[for=place-private-submitter_email],
  .place-form [name=private-submitter_email]{
  display: none;
}

.place-form.location_updates-yesplease label[for=place-private-submitter_email],
  .place-form.location_updates-yesplease [name=private-submitter_email] {
  display: block;
}

[for$=heading] {
  /*border-top: 2px solid;*/
  padding: 1em 1em;
  margin-top: 2em;
  margin-bottom: 2em;
  display: block;
  text-align: center;
  font-size: 1.1em;
  color: #2BAB6E;
  position: relative;
  box-shadow: 0 0 0px 2px #2BAB6E;
  /*background-color: #B7D141;*/
  border-radius: 0.325em;
}

[for$=heading]:after {
  content: "";
  width: 25px;
  height: 25px;
  background: white;
  border-bottom: 2px solid #2BAB6E;
  border-right: 2px solid #2BAB6E;
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%) rotate(45deg);
}




/* =Hiding (optional) in survey form
-------------------------------------------------------------- */

label small {
  text-transform: none;
  display: none;
}


/* =Hiding geolocator
-------------------------------------------------------------- */


#map.leaflet-container {
  font: 14px/1.5 "Proxima Nova", Arial, Helvetica, sans-serif;
}


/* =Media Queries
-------------------------------------------------------------- */


#geocode-address-bar {
  margin-top: 0;
}
#geocode-address-bar .error {
  background-color: #2BAB6E;
  box-shadow: 2px 2px 0 #2BAB6E, 2px -2px 0 #2BAB6E, -2px 2px 0 #2BAB6E, -2px -2px 0 #2BAB6E;
}
#geocode-address-bar .error+ form {
  box-shadow: 2px 2px 0 #2BAB6E, 2px -2px 0 #2BAB6E, -2px 2px 0 #2BAB6E, -2px -2px 0 #2BAB6E;
}

.geocode-spinner {
  padding: 0 0.5em;
}

.geocode-address-label:before {
  border: 1px solid #fff;
  border-width: 0.2em;
}
.geocode-address-label:after {
  background-color: #fff;
}






@media only screen and (min-width: 320px) and (max-width: 1024px) {

.access li:last-child {
    display: none;
  }
}

.goog-te-gadget:last-child {
    display: none;
  }

.goog-te-gadget .goog-te-combo:last-child {
    display: none;
  }

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}

@media only screen and (min-width: 60em) {

  #pages-nav-container, #language-picker {
    height: 100%;
    float: left;
    margin-right: -163px;
    margin-left: 35px;
  }

  .access {
    top: 65%;
    margin: -1.125em 0 0 1.5em;
  }

}

@media only screen and (max-width: 480px) {

  #site-title {
    width: 100%;
    background-position: 44px;
  }

  .bendigo-header-logo-small {
    display: none;
  }

}
