/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

 /* SHUT IT DOWN LEMON */
#new_response, #survey {
  display: none !important;
}

/* SHUT IT DOWN LEMON */
div.support {
 display: none !important;
}

span.survey-count {
 display: none !important;
}

div.social {
 display: none !important;
}

/*img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-clickable {
 display: none !important;
}

img.leaflet-marker-shadow.leaflet-zoom-animated {
 display: none !important;
}*/




COLOR PALETTE...

browny #B0291B
yellow #FCC94E


CrowdSpot Red #FF1609
CrowdSpot Green #45BA00
CrowdSpot Grey (text) #585A59
*/


/* =Base Styles
-------------------------------------------------------------- */

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  font-weight: 600;
  border: 0;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #45BA00;
  color: #fff;
}
.btn-primary:hover {
  background-color: #575958;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
/*  background-color: #ccc;*/
/*  color: #007fbf;*/
}
.btn-secondary:hover {
/*  background-color: #007fbf;*/
/*  color: #fff;*/
}

/* Links */
a, a:active, a:visited {
  color: #f08927;
}
a:hover {
  color: #C8C8C8;
}
a:hover, a:active {
  outline: none;
}


/* =Header
-------------------------------------------------------------- */

#site-header {
  border-top: #B0291B 3px solid;
}

#site-header {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0
}

.access li:hover > ul,
  .access li:hover > form > ul {
    display: block;
    background: #ccc;
    box-shadow: -0.25em 0.25em 0 rgba(0,0,0,0.1);
    border: 3px solid rgba(0,0,0,0.05);
    border-radius: 0;
    margin: -3px -60px 0 0;
    padding: 3px 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

#site-title {
  background: url('images/bendigo_freight_header.png') no-repeat
center;
  background-size: contain;
  width: 340px;
  text-indent: -133337px;
}

.site-name {
  font-size: 0.45em;
  float: left;
  line-height: 1.1;
  background-color: #26A0DA;
  position: relative;
  top: -0.6em;
}

.has-pages #site-title {
  margin-left: -0.75em;
}

.access {
  font-size: 1.1em;
}


#pages-nav-container, #language-picker {
  height: 100%;
  float: left;
  margin-right: -163px;
  margin-left: 35px;
}


/* Navigation Button */
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  float: left;
  width: .8em;
  padding: 0.125em 0;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 0.25em;
}

/* =Colophon
-------------------------------------------------------------- */

#colophon {
  box-shadow: inset 0 5px 10px rgba(85, 85, 85, 0.25);
}

/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #ffffff;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}

.recent-points a {
    color: #585A59;
    text-decoration: none;
    float: left;
    border-top: 1px solid #888;
    border-bottom: 1px solid #666;
    padding: 0.5em 0.5em 0.5em 0.75em;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
  background: #fff;
}

/* Close Button */
a.close-btn {
  background: #fff;
}



/* =List View
-------------------------------------------------------------- */

#list-container {
  background: #eee;
}

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    background-color: #45BA00;
 }

.list-toggle-btn:hover {
    background-color: #585A59;
    color: #fff;
  }


/* =Map
-------------------------------------------------------------- */

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #3E74BF;
  color: #fff;
  text-shadow: none;
}
.drag-marker-warning {
  background-color: #FF1609;
  color: #fff;
  text-shadow: none;
}

/* =newpin marker
-------------------------------------------------------------- */

#centerpoint.newpin .marker {
  display: block;
  width: 27px;
  height: 41px;
  background: transparent url(images/spot-add.svg) 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  transition: top 0.4s ease;
}

#centerpoint.newpin .x {
  background: transparent url(images/x.svg) 0 0 no-repeat scroll;
  width 20px;
  height 15px;
}
#centerpoint.newpin .shadow {
  background:  transparent url(images/master-pin-shadow.svg) -29px 2px no-repeat scroll;
  width: 100px;
}
#centerpoint.newpin.dragging .shadow {
  background: transparent url(images/master-pin-shadow.svg) -20px -2px no-repeat scroll;
}

/* =legend
-------------------------------------------------------------- */
.legend li {
  line-height: 26px;
}

.legend img {
  max-height: 33px;
  vertical-align: middle;
}


/* =Existing Spots
-------------------------------------------------------------- */

small {
  text-transform: none;
  display: none;
}

#place-strategic {
  display: none;
}

#place-personal {
  display: none;
}

.place-value-business_type {
  display: none;
}

.place-value-location_goods_type {
  display: none;
}

.place-value-volume_received {
  display: none;
}

.place-value-volume_dispatched {
  display: none;
}

.place-value-suburb {
  display: none;
}

.place-value-location_freight_operator {
  display: none;
}

.place-value-inbound_origin {
  display: none;
}

.place-value-origin_facility_type {
  display: none;
}

.place-value-vehicle_type {
  display: none;
}

.place-value-trips_vehicle {
  display: none;
}

.place-value-location_crtical_times {
  display: none;
}

.place-value-goods_type_waste_other {
  display: none;
}

.place-value-goods_type_other {
  display: none;
}

.place-value-proportion_ownfleet {
  display: none;
}

.place-value-other_freight_operators {
  display: none;
}

.place-value-crtical_times_description {
  display: none;
}

.place-value-route_idea {
  display: none;
}

.place-value-route_reason {
  display: none;
}

.place-value-underutilisation {
  display: none;
}

.place-value-route_description {
  display: none;
}

.place-value-location_receivedispatch {
  display: none;
}

.place-value-waste_type {
  display: none;
}

.place-value-waste_remove_frequency {
  display: none;
}

.place-value-location_efficient_option1 {
  display: none;
}

.place-value-location_efficient_option2 {
  display: none;
}

.place-value-location_efficient_option3 {
  display: none;
}

.place-value-efficient_other {
  display: none;
}

.place-value-business_name {
  display: none;
}

.place-value-biggest_issues {
  display: none;
}

.place-value-changes_description {
  display: none;
}

.place-value-location_mode_shift {
  display: none;
}

.place-value-role {
  display: none;
}

.place-value-location_updates {
  display: none;
}

/* =Hiding questions in new forms
-------------------------------------------------------------- */

.place-form label[for=place-freight_issue],
  .place-form [name=freight_issue]{
  display: none;
}

.place-form.issue label[for=place-freight_issue],
  .place-form.issue [name=freight_issue] {
  display: block;
}

.place-form label[for=place-issue_description],
  .place-form [name=issue_description]{
  display: none;
}

.place-form.issue label[for=place-issue_description],
  .place-form.issue [name=issue_description] {
  display: block;
}

.place-form label[for=place-business_type],
  .place-form [name=business_type]{
  display: none;
}

.place-form.business label[for=place-business_type],
  .place-form.business [name=business_type] {
  display: block;
}




.place-form label[for=place-location_receivedispatch],
  .place-form [name=location_receivedispatch]{
  display: none;
}

.place-form.business label[for=place-location_receivedispatch],
  .place-form.business [name=location_receivedispatch] {
  display: block;
}






.place-form label[for=place-location_goods_type_received],
  .place-form [name=location_goods_type_received]{
  display: none;
}

.place-form #fields-location_goods_type_received {
  display: none;
}

.place-form.location_receivedispatch-receive label[for=place-location_goods_type_received],
  .place-form.location_receivedispatch-receive [name=location_goods_type_received] {
  display: block;
}

.place-form.location_receivedispatch-receive #fields-location_goods_type_received {
  display: block;
}

.place-form label[for=place-inbound_origin],
  .place-form [name=inbound_origin]{
  display: none;
}

.place-form #fields-inbound_origin {
  display: none;
}

.place-form.location_receivedispatch-receive label[for=place-inbound_origin],
  .place-form.location_receivedispatch-receive [name=inbound_origin] {
  display: block;
}

.place-form.location_receivedispatch-receive #fields-inbound_origin {
  display: block;
}





.place-form label[for=place-location_goods_type_dispatched],
  .place-form [name=location_goods_type_dispatched]{
  display: none;
}

.place-form #fields-location_goods_type_dispatched {
  display: none;
}

.place-form.location_receivedispatch-dispatch label[for=place-location_goods_type_dispatched],
  .place-form.location_receivedispatch-dispatch [name=location_goods_type_dispatched] {
  display: block;
}

.place-form.location_receivedispatch-dispatch #fields-location_goods_type_dispatched {
  display: block;
}



.place-form label[for=place-outbound_origin],
  .place-form [name=outbound_origin]{
  display: none;
}

.place-form #fields-outbound_origin {
  display: none;
}

.place-form.location_receivedispatch-dispatch label[for=place-outbound_origin],
  .place-form.location_receivedispatch-dispatch [name=outbound_origin] {
  display: block;
}

.place-form.location_receivedispatch-dispatch #fields-outbound_origin {
  display: block;
}




.place-form.location_receivedispatch-bothreceivedispatch label[for=place-location_goods_type_received],
  .place-form.location_receivedispatch-bothreceivedispatch [name=location_goods_type_received] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch #fields-location_goods_type_received {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-inbound_origin],
  .place-form.location_receivedispatch-bothreceivedispatch [name=inbound_origin] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch #fields-inbound_origin {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-location_goods_type_dispatched],
  .place-form.location_receivedispatch-bothreceivedispatch [name=location_goods_type_dispatched] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch #fields-location_goods_type_dispatched {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-outbound_origin],
  .place-form.location_receivedispatch-bothreceivedispatch [name=outbound_origin] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch #fields-outbound_origin {
  display: block;
}





.place-form label[for=place-volume_received],
  .place-form [name=volume_received]{
  display: none;
}

.place-form.location_receivedispatch-receive label[for=place-volume_received],
  .place-form.location_receivedispatch-receive [name=volume_received] {
  display: block;
}

.place-form label[for=place-volume_dispatched],
  .place-form [name=volume_dispatched]{
  display: none;
}

.place-form.location_receivedispatch-dispatch label[for=place-volume_dispatched],
  .place-form.location_receivedispatch-dispatch [name=volume_dispatched] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-volume_received],
  .place-form.location_receivedispatch-bothreceivedispatch [name=volume_received] {
  display: block;
}

.place-form.location_receivedispatch-bothreceivedispatch label[for=place-volume_dispatched],
  .place-form.location_receivedispatch-bothreceivedispatch [name=volume_dispatched] {
  display: block;
}







.place-form label[for=place-location_crtical_times],
  .place-form [name=location_crtical_times]{
  display: none;
}

.place-form.business label[for=place-location_crtical_times],
  .place-form.business [name=location_crtical_times] {
  display: block;
}

.place-form label[for=place-waste_type],
  .place-form [name=waste_type]{
  display: none;
}

.place-form.business label[for=place-waste_type],
  .place-form.business [name=waste_type] {
  display: block;
}

.place-form label[for=place-waste_remove_frequency],
  .place-form [name=waste_remove_frequency]{
  display: none;
}

.place-form.business label[for=place-waste_remove_frequency],
  .place-form.business [name=waste_remove_frequency] {
  display: block;
}

.place-form label[for=place-location_freight_operator],
  .place-form [name=location_freight_operator]{
  display: none;
}

.place-form.business label[for=place-location_freight_operator],
  .place-form.business [name=location_freight_operator] {
  display: block;
}


.place-form label[for=place-vehicle_type],
  .place-form [name=vehicle_type]{
  display: none;
}

.place-form #fields-vehicle_type {
  display: none;
}

.place-form.business label[for=place-vehicle_type],
  .place-form.business [name=vehicle_type] {
  display: block;
}

.place-form.business #fields-vehicle_type {
  display: block;
}

.place-form label[for=place-trips_vehicle],
  .place-form [name=trips_vehicle]{
  display: none;
}

.place-form.business label[for=place-trips_vehicle],
  .place-form.business [name=trips_vehicle] {
  display: block;
}











.place-form label[for=place-proportion_ownfleet],
  .place-form [name=proportion_ownfleet]{
  display: none;
}

.place-form.location_freight_operator-both_ownandother label[for=place-proportion_ownfleet],
  .place-form.location_freight_operator-both_ownandother [name=proportion_ownfleet] {
  display: block;
}



.place-form label[for=place-other_freight_operators],
  .place-form [name=other_freight_operators]{
  display: none;
}

.place-form.location_freight_operator-useotheroperators label[for=place-other_freight_operators],
  .place-form.location_freight_operator-useotheroperators [name=other_freight_operators] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-other_freight_operators],
  .place-form.location_freight_operator-both_ownandother [name=other_freight_operators] {
  display: block;
}



.place-form label[for=place-crtical_times_description],
  .place-form [name=crtical_times_description]{
  display: none;
}

.place-form.location_crtical_times-yess label[for=place-crtical_times_description],
  .place-form.location_crtical_times-yess [name=crtical_times_description] {
  display: block;
}






.place-form label[for=place-route_description],
  .place-form [name=route_description]{
  display: none;
}

.place-form label[for=place-route_reason],
  .place-form [name=route_reason]{
  display: none;
}

.place-form label[for=place-underutilisation],
  .place-form [name=underutilisation]{
  display: none;
}

.place-form.location_freight_operator-both_ownandother label[for=place-route_description],
  .place-form.location_freight_operator-both_ownandother [name=route_description] {
  display: block;
}

.place-form.location_freight_operator-ownfleet label[for=place-route_description],
  .place-form.location_freight_operator-ownfleet [name=route_description] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-route_reason],
  .place-form.location_freight_operator-both_ownandother [name=route_reason] {
  display: block;
}

.place-form.location_freight_operator-ownfleet label[for=place-route_reason],
  .place-form.location_freight_operator-ownfleet [name=route_reason] {
  display: block;
}

.place-form.location_freight_operator-both_ownandother label[for=place-underutilisation],
  .place-form.location_freight_operator-both_ownandother [name=underutilisation] {
  display: block;
}

.place-form.location_freight_operator-ownfleet label[for=place-underutilisation],
  .place-form.location_freight_operator-ownfleet [name=underutilisation] {
  display: block;
}


.place-form label[for=place-efficient_other],
  .place-form [name=efficient_other]{
  display: none;
}

.place-form.location_efficient_option1-other_efficient1 label[for=place-efficient_other],
  .place-form.location_efficient_option1-other_efficient1 [name=efficient_other] {
  display: block;
}

.place-form.location_efficient_option2-other_efficient2 label[for=place-efficient_other],
  .place-form.location_efficient_option2-other_efficient2 [name=efficient_other] {
  display: block;
}

.place-form.location_efficient_option3-other_efficient3 label[for=place-efficient_other],
  .place-form.location_efficient_option3-other_efficient3 [name=efficient_other] {
  display: block;
}









.place-form label[for=place-private-submitter_email],
  .place-form [name=private-submitter_email]{
  display: none;
}

.place-form.location_updates-yesplease label[for=place-private-submitter_email],
  .place-form.location_updates-yesplease [name=private-submitter_email] {
  display: block;
}




/* =Hiding (optional) in survey form
-------------------------------------------------------------- */

label small {
  text-transform: none;
  display: none;
}


/* =Hiding geolocator
-------------------------------------------------------------- */


#map.leaflet-container {
  font: 14px/1.5 "Proxima Nova", Arial, Helvetica, sans-serif;
}


/* =Media Queries
-------------------------------------------------------------- */





@media only screen and (min-width: 320px) and (max-width: 1024px) {


.access li:last-child {
    display: none;
  }
}

.goog-te-gadget:last-child {
    display: none;
  }

.goog-te-gadget .goog-te-combo:last-child {
    display: none;
  }

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
