// Stylus plugins

@import 'typographic'
// @import 'nib'
@import 'nib/border'
@import 'nib/clearfix'
@import 'nib/gradients'
@import 'nib/image'
@import 'nib/overflow'
@import 'nib/positions'
@import 'nib/reset'
@import 'nib/size'
@import 'axis'
@import 'rupture'

// Variables

primary-color = #F70000

// Partials

@import 'global'
@import 'header'
@import 'sidebar'
@import 'map'
@import 'place-detail'
@import 'forms'
@import 'list'