body,
select,
input,
textarea {
  color: #555;
  font-family: "Proxima Nova", Arial, Helvetica, serif;
}
.btn,
.btn:visited,
.btn:link {
  line-height: 1;
  padding: 0.65em;
  color: #fff;
  background-color: #f70000;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4) inset;
  font-weight: 600;
  border: 0;
  -webkit-transition: box-shadow 0.5s ease, background-color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}
.btn:hover,
.btn:visited:hover,
.btn:link:hover {
  background-color: #ff3a3a;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3) inset;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #f70000;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4) inset;
  color: #fff;
  -webkit-transition: box-shadow 0.5s ease, background-color 0.5s ease;
  transition: box-shadow 0.5s ease, background-color 0.5s ease;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  box-shadow: 0px 0px 0px rgba(0,0,0,0.4) inset;
  background-color: #f70000;
  color: #fff;
}
a,
a:active,
a:visited {
  color: #0092d7;
}
#powered-by a {
  background-image: url("images/crowdspot-logo.svg");
  background-position: 0px 9px;
}
.user-support {
  background-color: #434343;
}
.user-support:hover {
  background-color: #ccc;
}
.user-support:hover label {
  color: #222;
  -webkit-transition: color 0.5s ease, background-color 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease;
  background-color: transparent;
}
.user-support label {
  line-height: 1.2;
  color: #fff;
}
#site-header {
  border-top: #f70000 3px solid;
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(85,85,85,0.5);
}
#site-title {
  background: url("images/logo.svg") no-repeat center;
  background-size: contain;
  background-position: left center;
  width: 284px;
}
@media only screen and (max-width: 800px) {
  #site-title {
    width: 180px;
  }
}
#pages-nav-container,
#language-picker {
  height: 100%;
  float: left;
  margin-right: 0;
  margin-left: 0;
}
.access {
  font-size: 1.1em;
}
@media only screen and (max-width: 60em) {
  .access {
    margin: 0;
  }
}
@media only screen and (max-width: 60em) {
  .access li {
    padding-bottom: 0;
  }
}
.access li:hover ul {
  display: inline;
  background: #ccc;
  box-shadow: 0 5px 10px -5px rgba(85,85,85,0.5);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: -3px -60px 0 0;
  padding: 3px 0 0 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 160px;
}
.access li:hover ul a {
  text-align: left;
}
.access li .menu-item a:hover {
  background: #464847;
}
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  float: left;
  width: 0.8em;
  padding: 8px 7px;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 8px;
}
@media only screen and (max-width: 1050px) {
  .access li:last-child {
    display: none;
  }
}
.list-toggle-nav {
  margin-right: 0.5em;
}
.spot-type-title {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding: 1em;
  color: #434343;
  background-color: #e5e5e6;
  border-bottom: 2px solid #8c8c8c;
  margin-bottom: 1em;
}
.recent-points a {
  color: #585a59;
  text-decoration: none;
  float: left;
  border-top: 1px solid #888;
  border-bottom: 1px solid #666;
  padding: 0.5em 0.5em 0.5em 0.75em;
  width: 100%;
  box-sizing: border-box;
}
#colophon {
  box-shadow: inset 0 5px 10px -5px rgba(85,85,85,0.5);
}
#ticker {
  background: #fff;
  box-shadow: 0px 0 10px rgba(85,85,85,0.5);
}
@media only screen and (min-width: 60em) {
  #content {
    box-shadow: none;
  }
  #content > article {
    background: #fff;
    box-shadow: 0 0 20px rgba(34,34,34,0.5);
    position: relative;
    left: 0;
    z-index: 100;
  }
}
a.close-btn {
  z-index: 1;
  background: #fff;
  box-shadow: none;
  right: 100%;
  margin-right: 0px;
  -webkit-transition: 0.5s background ease, 0.5s color ease;
  transition: 0.5s background ease, 0.5s color ease;
}
@media only screen and (max-width: 60em) {
  a.close-btn {
    width: 60px;
  }
}
a.close-btn:hover {
  background: #fff;
}
a.leaflet-control-layers-toggle,
.leaflet-retina a.leaflet-control-layers-toggle {
  background-image: none;
  background-size: inherit;
  width: 96px;
  height: 30px;
  text-decoration: none;
}
a.leaflet-control-layers-toggle:before,
.leaflet-retina a.leaflet-control-layers-toggle:before {
  content: "Layers";
  display: block;
  color: #222;
  font-weight: bold;
  padding: 6px 10px 0 10px;
}
.legend {
  border-top: 0;
  padding-bottom: 1em;
}
.recent-points {
  border-bottom: 1px solid #808080;
}
#list-container {
  background: #eee;
}
.list-toggle-btn:hover {
  background-color: #575958;
  color: #fff;
}
.goog-te-gadget:last-child {
  display: none;
}
.goog-te-gadget .goog-te-combo:last-child {
  display: none;
}
#centerpoint.newpin .marker {
  display: block;
  width: 27px;
  height: 41px;
  background: transparent url("images/newspot.svg") 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
#centerpoint.newpin .x {
  background: transparent url("images/x.svg") 0 0 no-repeat scroll;
  width: 20px;
  height: 15px;
}
#centerpoint.newpin .shadow {
  background: transparent url("images/master-pin-shadow.svg") -29px 2px no-repeat scroll;
  width: 100px;
}
#centerpoint.newpin.dragging .shadow {
  background: transparent url("images/master-pin-shadow.svg") -20px -2px no-repeat scroll;
}
@media only screen and (min-width: 60em) {
  #add-place-btn-container {
    bottom: 1.5em;
  }
}
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #f70000;
  color: #fff;
  text-shadow: none;
}
.legend {
  border-top: 0;
  padding-bottom: 1em;
}
.legend li {
  line-height: 26px;
}
.legend img {
  max-height: 33px;
  vertical-align: middle;
}
.place-value-safety_rating:before {
  content: "Safety rating: ";
  font-weight: bold;
}
.place-value-description:before {
  content: "Description: ";
  font-weight: bold;
}
.place-value-rider_type:before {
  content: "Rider type: ";
  font-weight: bold;
}
#place-safety_rating {
  display: none;
}
#fields-safety_rating {
  display: none;
}
.place-form label[for=place-feel_safe],
.place-form [name=feel_safe] {
  display: none;
}
.place-form.safe label[for=place-feel_safe],
.place-form.safe [name=feel_safe] {
  display: block;
}
.place-form label[for=place-feel_unsafe],
.place-form [name=feel_unsafe] {
  display: none;
}
.place-form.unsafe label[for=place-feel_unsafe],
.place-form.unsafe [name=feel_unsafe] {
  display: block;
}
.place-form label[for=place-private-submitter_email],
.place-form [name=private-submitter_email] {
  display: none;
}
.place-form.location_updates-yesplease label[for=place-private-submitter_email],
.place-form.location_updates-yesplease [name=private-submitter_email] {
  display: block;
}
label small {
  text-transform: none;
  display: none;
}
input:focus,
textarea:focus {
  outline: none;
}
.user-support label {
  background-image: url("images/heart-empty.svg");
}
.user-support input[type=checkbox]:checked ~ label {
  background-image: url("images/heart.svg");
}

/*# sourceMappingURL=custom.css.map */
