.multi-checkboxes
  display flex
  flex-wrap wrap
  justify-content center

  &> label
    display block

  input[type=checkbox]
    display none
    // opacity 0
    // position relative
    // width 1px
    // height 1px
    // transform translateX(55px) translateY(100px)

    &:checked

      +label.multi-checkbox
        // &:before
        //   box-shadow 0 0 0px 4px rgba(#4EAF46, 1)
        &:after
          opacity 1
          transform scale(1)

  label.multi-checkbox
    text-align center
    width 100%
    margin 0.5em 0
    position relative

    +above('xs')
      width (100/2)%

    +above(300px)
      width (100/3)%

    +above('s')
      margin 0.5em 2.5%
      width 15%

    +above('l')
      margin 0.5em 2.5%
      width 15%

    &:before
      content ""
      display block
      min-width 60px
      min-height 60px
      background-size 50px 50px
      background-repeat no-repeat
      background-position center center
      transition transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out
      cursor pointer
      border-radius 50%
      // margin 0 auto 0.5em

    &:after
      content ""
      position absolute
      top 0
      right 50%
      margin-right -45px
      transform scale(0)
      opacity 0
      width 20px
      height 20px
      background no-repeat center center
      background-size cover
      background-image url('images/checkbox-tick.svg')
      transition transform 0.2s ease-in-out, opacity 0.2s ease-in-out

    &:hover
      &:before
        transform scale(1.2)

    &[for=multi-checkbox-relaxed]:before
      background-image url('images/emojis/emoji-relaxed.svg')

    &[for=multi-checkbox-excited]:before
      background-image url('images/emojis/emoji-excited.svg')

    &[for=multi-checkbox-satisfied]:before
      background-image url('images/emojis/emoji-satisfied.svg')

    &[for=multi-checkbox-trust]:before
      background-image url('images/emojis/emoji-trust.svg')

    &[for=multi-checkbox-love]:before
      background-image url('images/emojis/emoji-love.svg')

    &[for=multi-checkbox-scared]:before
      background-image url('images/emojis/emoji-scared.svg')

    &[for=multi-checkbox-angry]:before
      background-image url('images/emojis/emoji-angry.svg')

    &[for=multi-checkbox-frustrated]:before
      background-image url('images/emojis/emoji-frustrated.svg')

    &[for=multi-checkbox-disgust]:before
      background-image url('images/emojis/emoji-disgust.svg')

    &[for=multi-checkbox-creepy]:before
      background-image url('images/emojis/emoji-creepy.svg')

#fields-happy_feel
  display none
  opacity 0
  position absolute
  width 100%
  transform translateY(-50px)
  animation hideHappyEmojis 0.5s ease-in-out forwards

#fields-sad_feel
  display none
  opacity 0
  position absolute
  width 100%
  transform translateY(-50px)
  animation hideSadEmojis 0.5s ease-in-out forwards

.place-form

  #fields-location_type
    position relative

    &:after
      content "Select Happy or Sad to continue"
      position absolute
      left 50%
      bottom -8em
      transform translateX(-50%)
      transition opacity 0.2s ease-in-out

  &.happy, &.sad, &.freespot

    #fields-location_type

      &:after
        opacity 0

  &.happy

    #fields-happy_feel
      display block
      animation showHappyEmojis 0.5s ease-in-out forwards

    #fields-sad_feel
      animation hideSadEmojis 0.5s ease-in-out forwards

  &.sad

    #fields-sad_feel
      display block
      animation showSadEmojis 0.5s ease-in-out forwards

    #fields-happy_feel
      animation hideHappyEmojis 0.5s ease-in-out forwards

@keyframes showHappyEmojis
  0%
    display block
  1%
    opacity 0
  100%
    opacity 1
    transform translateY(0)

@keyframes hideHappyEmojis
  0%
    opacity 1
    transform translateY(0)
  99%
    opacity 0
    transform translateY(-50px)
  100%
    display none

@keyframes showSadEmojis
  0%
    display block
  1%
    opacity 0
  100%
    opacity 1
    transform translateY(0)

@keyframes hideSadEmojis
  0%
    opacity 1
    transform translateY(0)
  99%
    opacity 0
    transform translateY(-50px)
  100%
    display none

#fields-time
  margin-top 26em

  +above('s')
    margin-top 21em
