body, select, input, textarea
	color #243C4B
	font-family "Proxima Nova", Arial, Helvetica, serif

// #map
// 	&.leaflet-container
// 		font-size 14px/1.5

button-shadow = 0px 0px 0px rgba(0, 0, 0, 0.4) inset
button-shadow--hover = 0px 1px 4px 0px rgba(0, 0, 0, 0.3) inset

.btn,
.btn:visited,
.btn:link
	line-height 1.00
	padding 0.65em
	color #EF008C
	background-color lighten(#58CAE7, 75%)
	box-shadow button-shadow
	font-weight 600
	border 0
	transition box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease

	&:hover
		background-color lighten(primary-color, 25%)
		box-shadow button-shadow--hover

.btn-primary,
.btn-primary:visited,
.btn-primary:link
	background-color lighten(#58CAE7, 75%)
	box-shadow button-shadow
	color #EF008C
	transition box-shadow 0.5s ease, background-color 0.5s ease, color 0.5s ease

	// &.submit-btn
	// 	box-shadow button-shadow

	// &:hover
	// 	box-shadow 0px 0px 1px rgba(0, 0, 0, 0.2)

.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link
	box-shadow button-shadow
	background-color lighten(#58CAE7, 75%)
	color #EF008C

	&:hover
	// 	box-shadow 0px 0px 1px rgba(0, 0, 0, 0.2)
		color white

a, a:active, a:visited
	color #EF008C

	&:hover
		color lighten(#EF008C, 50%)

#powered-by a
	background-image url(images/crowdspot-logo.svg)
	background-position 0px 4px
