

#centerpoint
	&.newpin
		.marker
			display block
			width 46px
			height 63px
			background transparent url(images/markers/plan-marker-new.svg) 0 0 no-repeat scroll
			background-size cover
			position relative
			top -18px
			left -9px
			transition top 0.4s ease
		.x
			background  transparent url(images/x.svg) 0 0 no-repeat scroll;
			width 20px
			height 15px
		.shadow
			background  transparent url(images/master-pin-shadow.svg) -29px 2px no-repeat scroll;
			width 100px

		&.dragging
			.shadow
				background  transparent url(images/master-pin-shadow.svg) -20px -2px no-repeat scroll;
			.marker
				top -40px

#add-place-btn-container
	+above(60em)
		bottom 1.5em

.btn-primary, .btn-primary:visited, .btn-primary:link
	background-color #EF008C
