.place-title
	margin-top 3em
	margin-bottom 3em
	text-align center

.drag-marker-instructions,
.drag-marker-warning
	background-color lighten(#58CAE7, 75%)
	color #EF008C
	text-shadow none
	padding-top 3em
	padding-bottom 3em
	margin-bottom 4em

	position absolute
	top 1em
	left 1em
	right 1em

	// +above(960px)
	// 	top 50%
	// 	transform translateY(-50%)

@keyframes show-form-warnings
	0%
		display block
		opacity 0
		transform translateY(-100px)
	100%
		opacity 1
		transform translateX(0)

@keyframes hide-form-warnings
	99%
		transform translateY(-100px)
		opacity 0
	100%
		opacity 0
		display none

.show-form-warnings
	animation show-form-warnings 0.3s ease-in-out forwards

.hide-form-warnings
	animation hide-form-warnings 0.3s ease-in-out forwards

@keyframes show-form-items
	0%
		opacity 0
		transform translateY(-100px)
	100%
		opacity 1
		transform translateX(0)

@keyframes hide-form-items
	0%
		opacity 1
	100%
		opacity 0

.place-form-container
	opacity 0
	max-width 100%

.show-form-item
	opacity 0
	animation show-form-items 0.3s 0.4s ease-in-out forwards

// .place-form label[for=place-private-submitter_email],
//   .place-form [name=private-submitter_email]
// 	display none
//
// .place-form.location_updates-yesplease label[for=place-private-submitter_email],
//   .place-form.location_updates-yesplease [name=private-submitter_email]
// 	display block

label
	small
		text-transform none
		font-size 1em
		display none

.place-form-section

	&.file, &.select
		text-align center

	&.text, &.textarea, &.file, .multi-checkboxes, .multi-radios, &.select
		position relative
		padding-bottom 4em
		box-shadow 0px 8px 8px -8px rgba(#243C4B, 0.5)
		border-bottom 1px solid rgba(#243C4B, 0.5)
		margin-bottom 4em

		&:after
			content ""
			width 25px
			height 25px
			background white
			border-bottom 1px solid #243C4B
			border-right 1px solid #243C4B
			position absolute
			left 50%
			bottom -14px
			transform translateX(-50%) rotate(45deg)

		label
			display block
			margin 1em 0

.multi-checkbox, .multi-radio, .textarea, .text, .email
	label
		display block
		text-align center
		margin-bottom 1em

.text, .email

	input, textarea
		max-width 400px
		margin-left auto
		margin-right auto

	#place-age, #place-gender
		max-width 160px



.place-form
	input[type=text], input[type=email], textarea
		border none
		padding 1em
		border-radius 3px
		box-shadow 0 0 10px -5px rgba(#243C4B, 0.8) inset
		background-color lighten(#58CAE7, 75%)
		text-align center

#fields-location_type
	margin-bottom 3em

.place-form

	#fields-time, #fields-description, #fields-my_image, #fields-age, #fields-gender, #fields-description_ideas, #fields-submitter_name, #fields-private-submitter_email, #save-place-btn
		display none

	&.happy, &.sad, &.freespot
		#fields-time, #fields-description, #fields-my_image, #fields-age, #fields-gender, #fields-description_ideas, #fields-submitter_name, #fields-private-submitter_email, #save-place-btn
			display block
			animation showFormElements 0.3s ease-in-out forwards

	&.sad

		.email

			&:after
				content: "If sharing this experience has been upsetting in any way, here are some people you can talk to: Your GP; 1800 Respect: 1800 737 732; Centre Against Sexual Assault: 03 9635 3610; Kids Helpline: 1800 55 1800. To report something that has happened, call the Police on 000."
				display block
				text-align center
				margin-top 1em
				margin-bottom 1em

@keyframes showFormElements
	0%
		opacity 0
		display block
	100%
		opacity 1
		display block

.place-value-description
	&:before
		content "Description: "

.place-value-time
	&:before
		content "Time: "

.place-value-happy_feel
	&:before
		content "Happy Feelings: "

.place-value-sad_feel
	&:before
		content "Sad Feelings: "

.place-item-age, .place-item-gender, .place-value-sad_feel, .place-value-happy_feel
	display none

.required-field-label
	color #EF008C
	font-size 2em
	vertical-align middle

.freespot

	.place-item-happy_feel, .place-item-sad_feel, .place-item-time, .place-submission-details
		display none

	&.survey, &.place-detail-promotional-bar
		display none

	.place-item-attachment
		margin-bottom 1em
