.spot-type-title
	font-size: 1.1em
	font-weight bold
	text-align center
	padding 1em
	color #EF008C
	background-color lighten(#58CAE7, 75%)
	box-shadow 0px 0px 5px rgba(85, 85, 85, 0.5)

.legend
	background-color white
	position relative
	z-index 1
	border-top 0
	padding-top 1em
	padding-bottom 0.5em
	padding-left 25%
	border-bottom none
	box-shadow 0px 5px 5px -5px rgba(85, 85, 85, 0.5)
	margin-left -5px
	margin-right -5px

	display flex
	flex-direction column

	cursor not-allowed

	li
		line-height 26px
		margin-bottom 0.5em
		display flex
		align-items center

		pointer-events none
		user-select none


	.image-wrapper
		background-image url(images/legend-pin-background.jpg)
		background-repeat no-repeat
		background-size cover
		background-position center center
		background-color lighten(grey, 75%)
		box-shadow 0px 5px 5px -5px rgba(85, 85, 85, 0.5)
		min-height 45px
		min-width 45px
		border-radius 50%
		display flex
		align-items center
		justify-content center
		margin-right 0.5em

		img
			max-height 26px
			vertical-align middle

.recent-points
	border-bottom none
	background-color white

	a
		color #585A59
		text-decoration none
		float left
		border-top none
		border-bottom none
		padding 0.8em 1.5em 0.6em
		width calc(100% + 10px)
		box-sizing border-box
		margin-left -5px
		margin-right -5px
		box-shadow 0px 5px 5px -5px rgba(85, 85, 85, 0.5)
		transition background-color 0.5s ease, color 0.5s ease


#colophon
	box-shadow inset 0 5px 10px -5px rgba(85, 85, 85, 0.5)

#ticker
	background #EAEAEB
	box-shadow 0px 0 10px rgba(85, 85, 85, 0.5)

#content

	+above(60em)
		box-shadow none

		> article
			background white
			box-shadow 0 0 20px rgba(black, 0.5)
			position relative
			left 0

a.close-btn
	z-index 1
	color black
	background white
	box-shadow none
	right 100%
	margin-right 0px
	transition 0.5s background ease, 0.5s color ease, 0.5s box-shadow ease
	box-shadow -6px 0 8px 0 rgba(black, 0.2)

	+below(60em)
		width 60px
		box-shadow 0px -4px 8px -4px rgba(black, 0.2)

	&:hover
		background white
		box-shadow 0px 0 0px 0 rgba(black, 0.2)

a.leaflet-control-layers-toggle, .leaflet-retina a.leaflet-control-layers-toggle
	background-image none
	background-size inherit
	width 96px
	height 30px
	text-decoration none


	&:before
		content: "Layers"
		display block
		color black
		font-weight bold
		padding 6px 10px 0 10px

#list-container
	background #eee

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link
	// background-color #FF00FF

.list-toggle-btn
	&:hover
		background-color #575958
		color #fff

.goog-te-gadget
	&:last-child
		display none
	.goog-te-combo
		&:last-child
			display none
