/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */



COLOR PALETTE...

Perth dark red #B31D2C

Dark blue   #042A5E
Medium blue #1D4578
Light blue  #A3C0DD
Pin blue    #255EE6

CrowdSpot Red #FF1609
CrowdSpot Green #45BA00
CrowdSpot Grey (text) #585A59
*/


/* =Base Styles
-------------------------------------------------------------- */

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  font-weight: 600;
  border: 0;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #40B132;
  color: #fff;
}
.btn-primary:hover {
  background-color: #585A59;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
/*  background-color: #ccc;*/
/*  color: #007fbf;*/
}
.btn-secondary:hover {
/*  background-color: #007fbf;*/
/*  color: #fff;*/
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  border-top: #B31D2C 3px solid;
}

#site-header {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0
}

.access li:hover > ul,
  .access li:hover > form > ul {
    display: block;
    background: #ccc;
    box-shadow: -0.25em 0.25em 0 rgba(0,0,0,0.1);
    border: 3px solid rgba(0,0,0,0.05);
    border-radius: 0;
    margin: -3px -60px 0 0;
    padding: 3px 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

#site-title {
  background: url('images/i280study.jpg') no-repeat
center;
  background-size: contain;
  width: 440px;
  text-indent: -133337px;
}

.site-name {
  font-size: 0.45em;
  float: left;
  line-height: 1.1;
  background-color: #26A0DA;
  position: relative;
  top: -0.6em;
}

.has-pages #site-title {
  margin-left: -0.75em;
}

.access {
  font-size: 1.1em;
}


#pages-nav-container, #language-picker {
  height: 100%;
  float: left;
  margin-right: -163px;
  margin-left: 35px;
}


/* Navigation Button */
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  float: left;
  width: .8em;
  padding: 0.125em 0;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 0.25em;
}

/* =Colophon
-------------------------------------------------------------- */

#colophon {
  box-shadow: inset 0 5px 10px rgba(85, 85, 85, 0.25);
}

/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #ffffff;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
  background: #fff;
}

/* Close Button */
a.close-btn {
  background: #fff;
}



/* =List View
-------------------------------------------------------------- */

#list-container {
  background: #eee;
}

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    background-color: #40B132;
 }

.list-toggle-btn:hover {
    background-color: #585A59;
    color: #fff;
  }


/* =Map
-------------------------------------------------------------- */

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #3E74BF;
  color: #fff;
  text-shadow: none;
}
.drag-marker-warning {
  background-color: #FF1609;
  color: #fff;
  text-shadow: none;
}

/* =newpin marker
-------------------------------------------------------------- */

#centerpoint.newpin .marker {
  display: block;
  width: 25px;
  height: 41px;
  background: transparent url(images/newspot.svg) 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  transition: top 0.4s ease;
}

#centerpoint.newpin .x {
  background: transparent url(images/x.svg) 0 0 no-repeat scroll;
  width 20px;
  height 15px;
}
#centerpoint.newpin .shadow {
  background:  transparent url(images/master-pin-shadow.svg) -29px 2px no-repeat scroll;
  width 100px;
}
#centerpoint.newpin .dragging .shadow {
  background: transparent url(images/master-pin-shadow.svg) -20px -2px no-repeat scroll;
}

/* =legend
-------------------------------------------------------------- */
.legend li {
  line-height: 26px;
}

.legend img {
  max-height: 33px;
  vertical-align: middle;
}


/* =Existing Spots
-------------------------------------------------------------- */

.place-value-description:before {
  content: "Description: ";
  font-weight: bold;
}

.place-value-location_expresslanes {
  display: none;
}

.place-value-why {
  display: none;
}

.place-value-location_commutemode {
  display: none;
}

.place-value-homezip {
  display: none;
}

.place-value-workzip {
  display: none;
}

/* =Hiding questions in new forms
-------------------------------------------------------------- */

.place-form label[for=place-location_walk_issue],
  .place-form [name=location_walk_issue]{
  display: none;
}

.place-form.walk label[for=place-location_walk_issue],
  .place-form.walk [name=location_walk_issue] {
  display: block;
}


.place-form label[for=place-location_bike_issue],
  .place-form [name=location_bike_issue]{
  display: none;
}

.place-form.bike label[for=place-location_bike_issue],
  .place-form.bike [name=location_bike_issue] {
  display: block;
}


.place-form label[for=place-location_bus_issue],
  .place-form [name=location_bus_issue]{
  display: none;
}

.place-form.bus label[for=place-location_bus_issue],
  .place-form.bus [name=location_bus_issue] {
  display: block;
}

.place-form label[for=place-location_car_issue],
  .place-form [name=location_car_issue]{
  display: none;
}

.place-form.car label[for=place-location_car_issue],
  .place-form.car [name=location_car_issue] {
  display: block;
}



.place-form label[for=place-issue_other],
  .place-form [name=issue_other]{
  display: none;
}

.place-form.location_walk_issue-other label[for=place-issue_other],
  .place-form.location_walk_issue-other [name=issue_other] {
  display: block;
}


.place-form.location_bike_issue-other label[for=place-issue_other],
  .place-form.location_bike_issue-other [name=issue_other] {
  display: block;
}


.place-form.location_bus_issue-other label[for=place-issue_other],
  .place-form.location_bus_issue-other [name=issue_other] {
  display: block;
}


.place-form.location_car_issue-other label[for=place-issue_other],
  .place-form.location_car_issue-other [name=issue_other] {
  display: block;
}


.place-form label[for=place-like_mode],
  .place-form [name=like_mode]{
  display: none;
}

.place-form.like label[for=place-like_mode],
  .place-form.like [name=like_mode] {
  display: block;
}

.place-form label[for=place-idea_mode],
  .place-form [name=idea_mode]{
  display: none;
}

.place-form.idea label[for=place-idea_mode],
  .place-form.idea [name=idea_mode] {
  display: block;
}


.place-form label[for=place-improvement_other],
  .place-form [name=improvement_other]{
  display: none;
}

.place-form.location_improvement-other label[for=place-improvement_other],
  .place-form.location_improvement-other [name=improvement_other] {
  display: block;
}





.place-form label[for=place-other],
  .place-form [name=other]{
  display: none;
}

.place-form.location_commutemode-other label[for=place-other],
  .place-form.location_commutemode-other [name=other] {
  display: block;
}




/* =Hiding (optional) in survey form
-------------------------------------------------------------- */

label small {
  text-transform: none;
  display: none;
}


/* =Hiding geolocator
-------------------------------------------------------------- */


#map.leaflet-container {
  font: 14px/1.5 "Proxima Nova", Arial, Helvetica, sans-serif;
}


/* =Media Queries
-------------------------------------------------------------- */





@media only screen and (min-width: 320px) and (max-width: 1024px) {


.access li:last-child {
    display: none;
  }
}

.goog-te-gadget:last-child {
    display: none;
  }

.goog-te-gadget .goog-te-combo:last-child {
    display: none;
  }

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}
