#geocode-address-bar
  padding 0.5em

+above(60em)

  .geocoding-enabled #map-container
    top 8.2em

  .geocoding-enabled #content
    top 8.2em

.geocode-address-label

  &:before
    border white
    border-width 0.2em

  &:after
    background-color white
