

#centerpoint
	&.newpin
		.marker
			display block
			width 29px
			height 42px
			background transparent url(images/spot-add.svg) 0 0 no-repeat scroll
			position relative
			top 2px
			transition top 0.4s ease
		.x
			background  transparent url(images/x.svg) 0 0 no-repeat scroll;
			width 20px
			height 15px
		.shadow
			background  transparent url(images/master-pin-shadow.svg) -29px 2px no-repeat scroll;
			width 100px

		&.dragging
			.shadow
				background  transparent url(images/master-pin-shadow.svg) -20px -2px no-repeat scroll;

#add-place-btn-container
	+above(60em)
		bottom 1.5em
