@import 'typographic'
// @import 'nib'
@import 'nib/border'
@import 'nib/clearfix'
@import 'nib/gradients'
@import 'nib/image'
@import 'nib/overflow'
@import 'nib/positions'
@import 'nib/reset'
@import 'nib/size'
@import 'axis'
@import 'rupture'
		
body, select, input, textarea
	color #555
	font-family "Proxima Nova", Arial, Helvetica, serif
	
.btn,
.btn:visited,
.btn:link
	font-weight 600
	border 0
	
.btn-primary,
.btn-primary:visited,
.btn-primary:link
	background-color #FF00FF
	box-shadow 2px 2px 10px rgba(0, 0, 0, 0.5)
	color #fff
	transition all 0.5s ease

.btn-primary
	&:hover
		box-shadow 0px 0px 1px rgba(0, 0, 0, 0.2)
		background-color #FC13FF

.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link
	background-color rgb(255, 0, 98)
	color white

a, a:active, a:visited
	color #0092D7

.recent-points
	a
		color #585A59
		text-decoration none
		float left
		border-top 1px solid #888
		border-bottom 1px solid #666
		padding 0.5em 0.5em 0.5em 0.75em
		width 100%
		-webkit-box-sizing border-box
		-moz-box-sizing border-box
		box-sizing border-box

#site-header
	border-top #FF00FF 3px solid
	background-color #ffffff
	background-image linear-gradient(90deg, #FFFFFF 20%, #2AAF32 30%, #D9C51A 40%, #DB32B0 50%, #FFFFFF 71%)
	box-shadow 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0

.access li:hover > ul,
  .access li:hover > form > ul
	display block
	background #ccc
	box-shadow none
	border 0px solid rgba(0,0,0,0.05)
	border-radius 0
	margin -3px -60px 0 0
	padding 3px 0 0 0
	position absolute
	top 100%
	left 0
	z-index 2
	overflow hidden

#site-title
	background url('images/finnspotlogo.svg') no-repeat center
	background-size contain
	width 440px
	text-indent -133337px

.site-name
	font-size 0.45em
	float left
	line-height 1.1
	background-color #26A0DA
	position relative
	top -0.6em

.has-pages
	#site-title
		margin-left -0.75em

.access
	font-size 1.1em

#pages-nav-container, #language-picker
	height 100%
	float left
	margin-right -163px
	margin-left 35px

#nav-btn
	background #6f6f6f
	color #bbb
	font-size 2em
	line-height 0.7
	text-decoration none
	text-align center
	text-shadow -1px 1px 1px rgba(0,0,0,0.25)
	float left
	width .8em
	padding 0.125em 0
	position absolute
	border-radius 2.5px
	left 0.25em
	top 0.25em

#colophon
	box-shadow inset 0 5px 10px rgba(85, 85, 85, 0.25)

#ticker
	background #ffffff
	box-shadow -5px 0 10px rgba(85, 85, 85, 0.5)

#content
	background #fff
	
	+above('m')
		background pink

a
	&.close-btn
		background #fff
		
		+above('m')
			background pink
	&.leaflet-control-layers-toggle
		// background-image url(images/bikelanes.png)
		background none
		background-size inherit
		width 118px
		height 28px

#list-container
	background #eee

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link
	background-color #FF00FF

.list-toggle-btn
	&:hover
		background-color #575958
		color #fff

.drag-marker-instructions,
.drag-marker-warning
	background-color #E600C0
	color #fff
	text-shadow none

.drag-marker-instructions
	img
		// display none
		
		&:before
			content "Hi"

.drag-marker-warning
	background-color #FC00F0
	color #fff
	text-shadow none

#centerpoint
	&.newpin
		.marker
			display block
			width 27px
			height 41px
			background transparent url(images/newspot.svg) 0 0 no-repeat scroll
			position relative
			top 3px
			transition top 0.4s ease
		.x
			background  transparent url(images/x.svg) 0 0 no-repeat scroll;
			width 20px
			height 15px
		.shadow
			background  transparent url(images/master-pin-shadow.svg) -29px 2px no-repeat scroll;
			width 100px
		
		&.dragging
			.shadow
				background  transparent url(images/master-pin-shadow.svg) -20px -2px no-repeat scroll;

.spot-type-title
	text-align center
	padding 1em
	color #000000
	background-color #DBDBDB
	border-bottom 2px solid #8C8C8C
	margin-bottom 1em

.legend
	border-top 0
	padding-bottom 1em
	li
		line-height 26px
	img
		max-height 33px
		vertical-align middle

.place-value-age
	display none

.place-value-gender
	display none

.place-value-location_updates
	display none

.place-value-safety_rating
	&:before
		content "Safety rating: "
		font-weight bold

.place-value-description
	&:before
		content "Description: "
		font-weight bold

.place-value-rider_type
	&:before
		content "Rider type: "
		font-weight bold

#place-safety_rating
	display none

#fields-safety_rating
	display none

.place-form label[for=place-feel_safe],
  .place-form [name=feel_safe]
	display none

.place-form.safe label[for=place-feel_safe],
  .place-form.safe [name=feel_safe]
	display block

.place-form label[for=place-feel_unsafe],
  .place-form [name=feel_unsafe]
	display none

.place-form.unsafe label[for=place-feel_unsafe],
  .place-form.unsafe [name=feel_unsafe]
	display block

.place-form label[for=place-private-submitter_email],
  .place-form [name=private-submitter_email]
	display none

.place-form.location_updates-yesplease label[for=place-private-submitter_email],
  .place-form.location_updates-yesplease [name=private-submitter_email]
	display block

label
	small
		text-transform none
		display none

#map
	&.leaflet-container
		font 14px/1.5 "Proxima Nova", Arial, Helvetica, sans-serif

@media only screen and (max-width: 960px)
	#site-header
		background-image linear-gradient(90deg, #FFFFFF 60%, #2AAF32 70%, #D9C51A 80%, #DB32B0 90%, #FFFFFF 100%)

@media only screen and (min-width: 320px) and (max-width: 1024px)
	.access
		li
			&:last-child
				display none

.goog-te-gadget
	&:last-child
		display none
	.goog-te-combo
		&:last-child
			display none

