body,
select,
input,
textarea {
  color: #555;
  font-family: "Proxima Nova", Arial, Helvetica, serif;
}
.btn,
.btn:visited,
.btn:link {
  font-weight: 600;
  border: 0;
}
.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #f0f;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn-primary:hover {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
  background-color: #fc13ff;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #ff0062;
  color: #fff;
}
a,
a:active,
a:visited {
  color: #0092d7;
}
.recent-points a {
  color: #585a59;
  text-decoration: none;
  float: left;
  border-top: 1px solid #888;
  border-bottom: 1px solid #666;
  padding: 0.5em 0.5em 0.5em 0.75em;
  width: 100%;
  box-sizing: border-box;
}
#site-header {
  border-top: #f0f 3px solid;
  background-color: #fff;
  background-image: -webkit-linear-gradient(left, #fff 20%, #2aaf32 30%, #d9c51a 40%, #db32b0 50%, #fff 71%);
  background-image: linear-gradient(90deg, #fff 20%, #2aaf32 30%, #d9c51a 40%, #db32b0 50%, #fff 71%);
  box-shadow: 0 5px 10px rgba(85,85,85,0.5), inset 0 -3px 0;
}
.access li:hover > ul,
.access li:hover > form > ul {
  display: block;
  background: #ccc;
  box-shadow: none;
  border: 0px solid rgba(0,0,0,0.05);
  border-radius: 0;
  margin: -3px -60px 0 0;
  padding: 3px 0 0 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  overflow: hidden;
}
#site-title {
  background: url("images/finnspotlogo.svg") no-repeat center;
  background-size: contain;
  width: 440px;
  text-indent: -133337px;
}
.site-name {
  font-size: 0.45em;
  float: left;
  line-height: 1.1;
  background-color: #26a0da;
  position: relative;
  top: -0.6em;
}
.has-pages #site-title {
  margin-left: -0.75em;
}
.access {
  font-size: 1.1em;
}
#pages-nav-container,
#language-picker {
  height: 100%;
  float: left;
  margin-right: -163px;
  margin-left: 35px;
}
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  float: left;
  width: 0.8em;
  padding: 0.125em 0;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 0.25em;
}
#colophon {
  box-shadow: inset 0 5px 10px rgba(85,85,85,0.25);
}
#ticker {
  background: #fff;
  box-shadow: -5px 0 10px rgba(85,85,85,0.5);
}
#content {
  background: #fff;
}
@media only screen and (min-width: 600px) {
  #content {
    background: #ffc0cb;
  }
}
a.close-btn {
  background: #fff;
}
@media only screen and (min-width: 600px) {
  a.close-btn {
    background: #ffc0cb;
  }
}
a.leaflet-control-layers-toggle {
  background: none;
  background-size: inherit;
  width: 118px;
  height: 28px;
}
#list-container {
  background: #eee;
}
.list-toggle-btn,
.list-toggle-btn:visited,
.list-toggle-btn:link {
  background-color: #f0f;
}
.list-toggle-btn:hover {
  background-color: #575958;
  color: #fff;
}
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #e600c0;
  color: #fff;
  text-shadow: none;
}
.drag-marker-instructions img:before {
  content: "Hi";
}
.drag-marker-warning {
  background-color: #fc00f0;
  color: #fff;
  text-shadow: none;
}
#centerpoint.newpin .marker {
  display: block;
  width: 27px;
  height: 41px;
  background: transparent url("images/newspot.svg") 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
}
#centerpoint.newpin .x {
  background: transparent url("images/x.svg") 0 0 no-repeat scroll;
  width: 20px;
  height: 15px;
}
#centerpoint.newpin .shadow {
  background: transparent url("images/master-pin-shadow.svg") -29px 2px no-repeat scroll;
  width: 100px;
}
#centerpoint.newpin.dragging .shadow {
  background: transparent url("images/master-pin-shadow.svg") -20px -2px no-repeat scroll;
}
.spot-type-title {
  text-align: center;
  padding: 1em;
  color: #000;
  background-color: #dbdbdb;
  border-bottom: 2px solid #8c8c8c;
  margin-bottom: 1em;
}
.legend {
  border-top: 0;
  padding-bottom: 1em;
}
.legend li {
  line-height: 26px;
}
.legend img {
  max-height: 33px;
  vertical-align: middle;
}
.place-value-age {
  display: none;
}
.place-value-gender {
  display: none;
}
.place-value-location_updates {
  display: none;
}
.place-value-safety_rating:before {
  content: "Safety rating: ";
  font-weight: bold;
}
.place-value-description:before {
  content: "Description: ";
  font-weight: bold;
}
.place-value-rider_type:before {
  content: "Rider type: ";
  font-weight: bold;
}
#place-safety_rating {
  display: none;
}
#fields-safety_rating {
  display: none;
}
.place-form label[for=place-feel_safe],
.place-form [name=feel_safe] {
  display: none;
}
.place-form.safe label[for=place-feel_safe],
.place-form.safe [name=feel_safe] {
  display: block;
}
.place-form label[for=place-feel_unsafe],
.place-form [name=feel_unsafe] {
  display: none;
}
.place-form.unsafe label[for=place-feel_unsafe],
.place-form.unsafe [name=feel_unsafe] {
  display: block;
}
.place-form label[for=place-private-submitter_email],
.place-form [name=private-submitter_email] {
  display: none;
}
.place-form.location_updates-yesplease label[for=place-private-submitter_email],
.place-form.location_updates-yesplease [name=private-submitter_email] {
  display: block;
}
label small {
  text-transform: none;
  display: none;
}
#map.leaflet-container {
  font: 14px/1.5 "Proxima Nova", Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 960px) {
  #site-header {
    background-image: -webkit-linear-gradient(left, #fff 60%, #2aaf32 70%, #d9c51a 80%, #db32b0 90%, #fff 100%);
    background-image: linear-gradient(90deg, #fff 60%, #2aaf32 70%, #d9c51a 80%, #db32b0 90%, #fff 100%);
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .access li:last-child {
    display: none;
  }
}
.goog-te-gadget:last-child {
  display: none;
}
.goog-te-gadget .goog-te-combo:last-child {
  display: none;
}

/*# sourceMappingURL=custom.css.map */
