body, select, input, textarea
	color #555
	font-family "Proxima Nova", Arial, Helvetica, serif

// #map
// 	&.leaflet-container
// 		font-size 14px/1.5
	
.btn,
.btn:visited,
.btn:link
	line-height 1
	padding 0.65em
	color white
	background-color red
	box-shadow 2px 2px 10px rgba(0, 0, 0, 0.5)
	font-weight 600
	border 0
	transition all 0.5s ease
	
	&:hover
		box-shadow 0px 0px 1px rgba(0, 0, 0, 0.2)
	
.btn-primary,
.btn-primary:visited,
.btn-primary:link
	background-color #FF00FF
	box-shadow 2px 2px 10px rgba(0, 0, 0, 0.5)
	color #fff
	transition all 0.5s ease
	
	&.submit-btn
		box-shadow 1px 1px 5px rgba(0, 0, 0, 0.5)

	&:hover
		box-shadow 0px 0px 1px rgba(0, 0, 0, 0.2)
		background-color #9900A5

.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link
	box-shadow 2px 2px 10px rgba(0, 0, 0, 0.5)
	background-color rgb(255, 0, 98)
	color white
	
	&:hover
		box-shadow 0px 0px 1px rgba(0, 0, 0, 0.2)
		background-color #9900A5

a, a:active, a:visited
	color #0092D7
	
#powered-by a
	background-image url(images/crowdspot-logo.svg)
	background-position 0px 9px
	
.user-support
	label
		transition all 0.5s ease
		background-color #E5E5E6
			