/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

 /* SHUT IT DOWN LEMON */
#add-place-btn-container, #new_response {
  display: none !important;
}


COLOR PALETTE...

Perth dark red #B31D2C

Dark blue   #042A5E
Medium blue #1D4578
Light blue  #A3C0DD
Pin blue    #255EE6

CrowdSpot Red #FF1609
CrowdSpot Green #45BA00
CrowdSpot Grey (text) #585A59
*/



/* =Base Styles
-------------------------------------------------------------- */

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  font-weight: 600;
  border: 0;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #1874CD;
  color: #fff;
}
.btn-primary:hover {
  background-color: #585A59;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
/*  background-color: #ccc;*/
/*  color: #007fbf;*/
}
.btn-secondary:hover {
/*  background-color: #007fbf;*/
/*  color: #fff;*/
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  border-top: #1874CD 3px solid;
}

#site-header {
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0
}

.access li:hover > ul,
  .access li:hover > form > ul {
    display: block;
    background: #ccc;
    box-shadow: -0.25em 0.25em 0 rgba(0,0,0,0.1);
    border: 3px solid rgba(0,0,0,0.05);
    border-radius: 0;
    margin: -3px -60px 0 0;
    padding: 3px 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

#site-title {
  background: url('images/engage2act_logo2.png') no-repeat 
center;
  background-size: contain;
  width: 440px;
  text-indent: -133337px;
}

.site-name {
  font-size: 0.45em;
  float: left;
  line-height: 1.1;
  background-color: #26A0DA;
  position: relative;
  top: -0.6em;
}

.has-pages #site-title {
  margin-left: -0.75em;
}

.access {
  font-size: 1.1em;
}

/* Navigation Button */
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  float: left;
  width: .8em;
  padding: 0.125em 0;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 0.25em;
}

/* =Colophon
-------------------------------------------------------------- */

#colophon {
  box-shadow: inset 0 5px 10px rgba(85, 85, 85, 0.25);
}  

/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #ffffff;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
  background: #fff;
}

/* Close Button */
a.close-btn {
  background: #fff;
}



/* =List View
-------------------------------------------------------------- */

#list-container {
  background: #eee;
}

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    background-color: #40B132;
 }
 
.list-toggle-btn:hover {
    background-color: #585A59;
    color: #fff;
  }   
  

/* =Map
-------------------------------------------------------------- */

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #3E74BF;
  color: #fff;
  text-shadow: none;
}
.drag-marker-warning {
  background-color: #FF1609;
  color: #fff;
  text-shadow: none;
}

/* =newpin marker
-------------------------------------------------------------- */

#centerpoint.newpin .marker {
  display: block;
  width: 25px;
  height: 41px;
  background: transparent url(images/markers/marker-f39914.png) 0 0 no-repeat scroll;
  position: relative;
  top: 3px;
  -webkit-transition: top 0.4s ease;
  -moz-transition: top 0.4s ease;
  -o-transition: top 0.4s ease;
  -ms-transition: top 0.4s ease;
  transition: top 0.4s ease;
}


/* =Existing Spots
-------------------------------------------------------------- */
.place-value-stage:before {
  content: "Project Stage: ";
  font-weight: bold;
}

.place-value-description:before {
  content: "Description: ";
  font-weight: bold;
}

.place-value-location_willing {
  display: none;
}

.place-value-willing {
  display: none;
}

.place-value-location_someone {
  display: none;
}

.place-value-location_working {
  display: none;
}

.place-value-theirname {
  display: none;
}

.place-value-organisation {
  display: none;
}

.place-value-phone {
  display: none;
}

/* =Hiding questions in new forms
-------------------------------------------------------------- */


.place-form label[for=place-willing],
  .place-form [name=willing]{
  display: none;
}

.place-form.location_working-yep label[for=place-willing],
  .place-form.location_working-yep [name=willing] {
  display: block;
}



.place-form label[for=place-location_someone],
  .place-form [name=location_someone]{
  display: none;
}

.place-form.location_working-nope label[for=place-location_someone],
  .place-form.location_working-nope [name=location_someone] {
  display: block;
}



.place-form label[for=place-theirname],
  .place-form [name=theirname]{
  display: none;
}


.place-form.location_someone-yep label[for=place-theirname],
  .place-form.location_someone-yep [name=theirname] {
  display: block;
}

/* =Hiding (optional) in survey form
-------------------------------------------------------------- */

label small {
  text-transform: none;
  display: none;
}

/* =Media Queries
-------------------------------------------------------------- */


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}