/*
 * This CSS file follows the default Shareabouts style.css.
 * All rules herein will override the default Shareabouts styles.
 * NOTE: "With great power comes great responsibility."
 */

COLOR PALETTE...

Perth dark red #B31D2C

Dark blue   #042A5E
Medium blue #1D4578
Light blue  #A3C0DD
Pin blue    #255EE6

CrowdSpot Red #FF1609
CrowdSpot Green #45BA00
CrowdSpot Grey (text) #585A59
*/





/* =Base Styles
-------------------------------------------------------------- */

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  font-weight: 600;
  border: 0;
}

.btn-primary,
.btn-primary:visited,
.btn-primary:link {
  background-color: #40B132;
  color: #fff;
}
.btn-primary:hover {
  background-color: #585A59;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
/*  background-color: #ccc;*/
/*  color: #007fbf;*/
}
.btn-secondary:hover {
/*  background-color: #007fbf;*/
/*  color: #fff;*/
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  border-top: #B31D2C 3px solid
}

#site-header {
  background-color: #EBECEB;
  box-shadow: 0 5px 10px rgba(85, 85, 85, 0.5), inset 0 -3px 0
}

.access li:hover > ul,
  .access li:hover > form > ul {
    display: block;
    background: #ccc;
    box-shadow: -0.25em 0.25em 0 rgba(0,0,0,0.1);
    border: 3px solid rgba(0,0,0,0.05);
    border-radius: 0;
    margin: -3px -60px 0 0;
    padding: 3px 0 0 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    overflow: hidden;
  }

#site-title {
  background: url('images/bikeplan_header6.png') no-repeat 
center;
  background-size: contain;
  width: 437px;
  text-indent: -133337px;
}

.site-name {
  font-size: 0.45em;
  float: left;
  line-height: 1.1;
  background-color: #26A0DA;
  position: relative;
  top: -0.6em;
}

.has-pages #site-title {
  margin-left: 0.25em;
}

.access {
  font-size: 1.1em;
}

/* Navigation Button */
#nav-btn {
  background: #6f6f6f;
  color: #bbb;
  font-size: 2em;
  line-height: 0.7;
  text-decoration: none;
  text-align: center;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
  float: left;
  width: .8em;
  padding: 0.125em 0;
  position: absolute;
  border-radius: 2.5px;
  left: 0.25em;
  top: 0.25em;
}

/* =Colophon
-------------------------------------------------------------- */

#colophon {
  box-shadow: inset 0 5px 10px rgba(85, 85, 85, 0.25);
}  

/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #EBECEB;
  box-shadow: -5px 0 10px rgba(85, 85, 85, 0.5);
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
  background: #fff;
}

/* Close Button */
a.close-btn {
  background: #fff;
}



/* =List View
-------------------------------------------------------------- */

#list-container {
  background: #eee;
}

.list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    background-color: #40B132;
 }
 
.list-toggle-btn:hover {
    background-color: #585A59;
    color: #fff;
  }   
  

/* =Map
-------------------------------------------------------------- */

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
  background-color: #3E74BF;
  color: #fff;
  text-shadow: none;
}
.drag-marker-warning {
  background-color: #FF1609;
  color: #fff;
  text-shadow: none;
}

/* =Existing Spots
-------------------------------------------------------------- */


.place-value-frequency {
  display: none;
}

.place-value-reason {
  display: none;
}

.place-value-other_reason {
  display: none;
}

.place-value-time {
  display: none;
}

.place-value-with_who {
  display: none;
}

.place-value-age {
  display: none;
}

.place-value-gender {
  display: none;
}

.place-value-connection {
  display: none;
}

.place-value-postcode {
  display: none;
}

.place-value-location_route {
  display: none;
}




/* =Hiding questions in new forms
-------------------------------------------------------------- */

.place-form label[for=place-location_bikeissue],
  .place-form [name=location_bikeissue]{
  display: none;
}

.place-form.issue label[for=place-location_bikeissue],
  .place-form.issue [name=location_bikeissue] {
  display: block;
}




.place-form label[for=place-other],
  .place-form [name=other]{
  display: none;
}

.place-form.location_bikeissue-other label[for=place-other],
  .place-form.location_bikeissue-other [name=other] {
  display: block;
}




.place-form label[for=place-description],
  .place-form [name=description]{
  display: none;
}

.place-form.location_route-route label[for=place-description],
  .place-form.location_route-route [name=description] {
  display: block;
}



/* =Hiding (optional) in survey form
-------------------------------------------------------------- */

label small {
  text-transform: none;
  display: none;
}

/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-width: 250px) and (max-width: 480px) {
#site-title a:link, #site-title a:visited {
  display: block;
  font-size: 1.2em;
  line-height: 1.25;
  margin-left: 0.25em;
  text-decoration: none;
  color: #646464;
  }
.has-pages #site-title {
  margin-left: -2.75em;
  }  
}

@media only screen and (min-width: 740px) and (max-width: 748px) {
  #site-header {
    display: none;
  }
  #map-container {
	  top: 0;
  }
  
@media only screen and (min-height: 440px) and (max-width: 60em) {
  #map {
    height: 250px;
  }
}

@media only screen and (min-height: 568px) and (max-width: 60em) {
  #map {
    height: 500px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 60em) {
  #map {
    height: 400px;
  }
}  


@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1300px) {
}